.tickets-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tickets-options li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tickets-options li {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #333d3d29;
}

.tickets-options li:hover,
.tickets-options li:hover div *,
.tickets-options li.selected,
.tickets-options li.selected div * {
  background: #01c5d1;
  color: #ffff !important;
}

.tickets-options li div > p {
  font: normal normal 300 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.tickets-options li .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tickets-options li .top p {
  margin: 0;
  padding: 0;
}

.tickets-options li .top p:first-child {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #acb3ba;
  max-width: 80%;
}

.tickets-options li .top p:nth-child(2) {
  font-size: 10px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.new-ticket-btn {
  background: #cddcb1;
  font: normal normal 600 13px/16px Montserrat;
  letter-spacing: 0.52px;
  color: #707070;
  opacity: 1;
  outline: none;
  padding: 16px;
  border: 0;
  width: 186px;
}

.new-ticket-btn svg {
  font-size: 20px;
}

.new-ticket-modal .modal-header {
  padding-bottom: 10px !important;
}

.new-ticket-modal button {
  background: #cddcb1;
  font: normal normal 600 13px/16px Montserrat;
  letter-spacing: 0.52px;
  color: #707070;
}

.new-ticket-modal .modal-dialog {
  max-width: 600px !important;
}
