.title {
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.desc {
  text-align: left;
  font: normal normal 300 13px/14px Montserrat;
  letter-spacing: 0px;
  color: #333d3d83;
  opacity: 1;
}
.disabled {
  opacity: 0.5; 
  pointer-events: none; 
  cursor: not-allowed; 
}