.general-modal-wrapper .modal-dialog {
  max-width: 710px !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.modal {
  padding-left: 0 !important;
}

.spotlight-apply-modal .modal-dialog {
  max-width: 60% !important;
  border-radius: 20px !important;
}


.spotlight-apply-modal .modal-title {
  font: normal normal 600 20px/24px Montserrat !important;
  letter-spacing: 0px !important;
  color: #231F20 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
  padding-bottom: 10px !important;
}

.deleteapplspot {
  text-align: left;
  font: normal normal 400 12px/16px Montserrat !important;
  letter-spacing: 0.48px !important;
  color: #000000;
  opacity: 1;
}

.portf-act-spot-dnone {
  display: none !important;
}

.close-general-modal .btn-close {
  color: #231f20;
}

.general-modal-container .modal-header {
  margin-right: -7px;
}

.general-modal-wrapper .modal-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: left;
  font: normal normal bold 18px/15px Montserrat;
  letter-spacing: 0.88px;
  color: #231f20;
  opacity: 1;
  margin-top: 10px;
}

.close-general-modal {
  margin-bottom: 23px !important;
  color: #000;
  opacity: 1;
}

.general-modal-wrapper .modal-content {
  border-radius: 0px !important;
  padding: 10px 35px !important;
  /* background-color: #fbfbfb !important; */
}

.spotlight-apply-modal .modal-content,
.spotlight-simple-modal .modal-content {
  border-radius: 20px !important;
}

.spotlight-apply-modal .modal-content {
  padding: 30px !important;
}

.general-modal-wrapper .general-modal-body {
  background-color: inherit;
  padding: 20px 0px !important;
}

.modal-content {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.my-spark__content-modal .modal-dialog {
  height: 100% !important;
  display: flex;
  align-items: center;
}

.my-spark__content-modal .modal-content {
  padding: 20px 40px !important;
}

@media (max-width:576px) {
  .spotlight-apply-modal .modal-dialog {
    width: 100% !important;
    max-width: 95% !important;
  }
}

@media (max-width:706px) {

  .spotlight-apply-modal .modal-dialog {
    margin-top: 10%;
  }
}

@media (max-width:411px) {

  .spotlight-apply-modal .modal-dialog {
    margin-top: 40%;
  }
}

@media (max-width:411px) {

  .prerequisite-title {
    margin-top: -20px !important;
    text-align: center !important;
  }
}

@media (max-width:427px) and (min-width:371px) {

  .spotlight-btn-desc {
    left: -20px !important;
  }
}


/* 427px */

/*.my-spark__content-modal .modal-dialog{*/
/*    height: 100% !important;*/
/*    display:flex;*/
/*    align-items:center*/
/*}*/

/*.my-spark__content-modal .modal-content{*/
/*    padding: 20px 40px !important;*/
/*}*/


@media (max-width: 520px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 80% !important;
  }

  .modal-content:has(.applicationproc-modal) {
    margin-top: 50% !important;
  }


  .modal-content:has(.whatisspot-modal) .modal-header {
    margin-top: 10% !important;
  }
}

@media (max-width: 449px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 100% !important;
  }

  .modal-content:has(.applicationproc-modal) {
    margin-top: 70% !important;
  }


}

@media (max-width: 423px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 150% !important;
  }

  .modal-content:has(.applicationproc-modal) {
    margin-top: 80% !important;
  }


}


@media (max-width: 403px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 200% !important;
  }

  .modal-content:has(.applicationproc-modal) {
    margin-top: 100% !important;
  }


}

@media (max-width: 385px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 230% !important;
  }
}

@media (max-width: 353px) {
  .modal-content:has(.whatisspot-modal) {
    margin-top: 250% !important;
  }
}