.portf-act-spot-dnone {
  display: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(204 204 204);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}


.immersion-modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: none;
}

.status-toggle {
  display: flex;
  align-items: center;
}

.status-toggle span {
  margin-left: 8px;
  margin-right: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:checked+.slider:before {
  transform: translateX(18px);
}

.immersion-modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.modal-body-delete {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group:nth-child(3) {
  grid-column: span 2;
}

.input-group h3 {
  margin-bottom: 10px;
}

.input-group p {
  margin: 0;
}

.input-group input,
.input-group textarea {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px !important;
  font-size: 14px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1607843137254902);
  background: none;
  margin-top: 15px;

  /* border-radius: 25px; */
}

.input-group textarea {
  height: 80px;
}

textarea {
  resize: none;

  width: 100%;
}

/* .modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
} */

.cancel-button,
.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.855rem;
}

.cancel-button {
  background-color: #ffffff !important;
  color: #333;
  border: 1px solid black;
}

.add-button {
  background-color: #0eb5be;
  color: white;
}

.cancel-button:hover,
.add-button:hover {
  opacity: 0.9;
}

.portfolio-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex !important;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 0px 0px 0px 28px;
  overflow: hidden;
  justify-content: end;
  padding: 0;
}

.portfolio-actions {
  z-index: 2;
}

.action-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029 !important;
  /*padding: 10px 15px;*/
  padding: 15px 15px;
  width: 65px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action-box-delete {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029 !important;
  /*padding: 10px 15px;*/
  padding: 15px 15px;
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: -400px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 80, 80);
  /* Dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

/* .modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 90%;
} */

.modal-container-delete {
  position: fixed;
  top: 40%;
  left: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  max-width: 90%;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 9999999;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-confirm-button {
  background-color: #00bcd4;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-edits {
  color: rgb(50, 50, 50);
}

.add-button {
  background-color: #00bcd4;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-modal-container {
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: red;
}

.portf-act-spot-dnone {
  display: none !important;
}

.trash-icon-delete {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C8CDD880 0% 0% no-repeat padding-box;
}

.delete-spotlight-modal-cont {
  height: 304px !important;
  width: 403px !important;
  border-radius: 28px !important;
  padding: 40px;
}

.delete-spotlight-modal-cont .portfolio-actions {
  border-radius: 0px 28px 0px 28px !important;
  width: 63px !important;
  height: 63px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-delete-message {
  width: 70%;
  text-align: center;
  font: normal normal 500 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;

}

.body-delete-spot {
  margin-bottom: 0 !important;
}

.pink-delete-btn {
  text-align: left;
  font: normal normal 400 17px/20px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase !important;
  width: 270px !important;
  height: 40px !important;
  border-radius: 12px;
  opacity: 1;
  border: none !important;
}

.cancel-spot-btn {
  text-align: left;
  font: normal normal 500 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

@media (max-width:1133px) {
  .delete-spotlight-modal-cont {
    left: 30% !important;
    width: 50% !important;
    max-width: 90% !important;
  }
}


@media (max-width:555px) {
  .pink-delete-btn {
    font: normal normal 400 14px/17px Montserrat;
    width: 120% !important;
    height: 45px !important;
    text-align: center !important;
  }

  .delete-spotlight-modal-cont {
    height: 320px !important;
  }
}

@media (max-width:471px) {

  .delete-spotlight-modal-cont {
    height: 340px !important;
  }
}


@media (max-width:394px) {

  .delete-spotlight-modal-cont {
    height: 370px !important;
  }
}


@media (max-width:930px) {
  .spot-modal-end-cont {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .savecont-apply-spot {
    margin-left: -5px !important;
  }

  .saving-submit-row-cont {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
  }
}

@media (max-width:728px) {
  .submitappl-spot {
    width: 50% !important;
  }
}

@media (max-width:653px) {
  .submitappl-spot {
    margin-top: 5px !important;
    width: 100% !important;
  }
}


@media (max-width:379px) {
  .parent-form-spotlight .parentGuardian-button {
    height: 85px !important;
  }
}