.table-wrapper {
    border: 1px solid rgb(187, 189, 191);
    margin: 20px 0;
}
.table-wrapper__title {
    padding: 10px;
    margin: 0;
    background: #51c7df;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.table-wrapper__title h5 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px
}

.journal_table-row {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-width: 2px;
    padding: 2px 10px !important
}
.journal_table-data {
    padding: 2px 10px !important
}
.fixed-width-cell {
    width: calc(100% / 3);
}
.journal_table-input__container {
    display: flex;
    gap: 20px
}

.journal_table-input__title {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 600
}
.journal_table-input {
    border-radius: 0.25rem;
    background-color: white;
    color: #000;
    border: 1px solid #e3e3e3
}
