.gradient-color {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 15%, rgba(208, 230, 255) 50%, rgba(255, 255, 255, 1) 85%);
    /* z-index: 999 !important; */
}

.public-page-form-forgot {
    box-shadow: 0px 5px 5px #00000040;
    border-radius: 20px;
}

.public-page-form-forgot button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background-color: #01c5d1;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: none;
}