.login-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: -2rem;
}

.login-title {
  margin: 20px 0 0 15px;
  font-weight: 100 !important;
  font-size: 4.3rem;
  color: gray;
}

.login-left-content {
  font-weight: 100;
  /* margin: 2rem 0 1rem 6rem; */
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: -25px;
  margin-left: -2px;
  width: 30vw;
}

.login-left-content p {
  color: gray;
  /* width: 50%; */
}

.social-media-items {
  margin-top: 25px;
}

.social-media-items :hover {
  color: #a7ca42;
}

.social-media-items * {
  /* margin-right: 4px; */
  color: black;
  font-size: 30px;
}

.login-create-account {
  text-align: right;
  position: relative;
}

.login-create-account a {
  position: absolute;
  top: -75px;
  right: 20px;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
}

.public-page-form .register-btn {
  display: block;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: 25px auto;
}

.radio-wrapper > div {
  display: flex;
  align-items: center;
}

.radio-wrapper * {
  font-size: 10px;
  text-align: left;
}

.radio-wrapper input[type='radio'] {
  width: 20px;
  height: 20px;
  background-clip: content-box;
  border: 2px solid #01c5d1;
  background-color: #fff;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
}

.radio-wrapper input[type='radio']:checked {
  background-color: #01c5d1;
}

.create-account-title {
  margin-left: 100px;
}

.ims-login-role:hover {
  background-color: #51c7df;
}

.main-login-role:hover {
  background-color: #ff3399;
}

.login_container svg {
  width: 70%;
}

.learner-logo:hover * {
  fill: white;
}

.learner-logo-clicked {
  fill: white;
}

.learner-logo-clicked [class^='st'] {
  fill: white;
}

/* ------------ */
.social-media-item {
  margin-right: 20px;
  color: black;
  font-size: 20px;
}

.button-type_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Choose login style */
.choose-login_container {
  background-image: url('../../../assets/images/Login/sus-mark-trans-bkg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: cover;
  background-color: #f8f7f7;
  min-height: calc(100vh - 42px);
}

/* Login style */
.login_container {
  background-image: url('../../../assets/images/Login/Cogs_Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: cover;
  background-color: #f8f7f7;
  min-height: calc(100vh - 42px);
}

/* choose login */

.login-role {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
}

.resignin-modal .modal-dialog {
  display: flex !important;
  z-index: 1060;
  max-width: 500px;
  width: 500px;
}

@media (max-width: 767.98px) {
  .choose-login_container {
    min-height: calc(100vh - 92px);
  }

  .login_container {
    min-height: calc(100vh - 92px);
  }

  .right-login-content {
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }

  .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-title {
    margin-top: 15px;
    font-weight: 100;
    font-size: 35px;
    color: gray;
  }

  .login-role {
    width: 110px;
    height: 110px;
  }

  .login-left-content {
    margin-bottom: 20px;
    /* margin-left: 5px !important; */
    display: flex;
    justify-content: center !important;
    text-align: center;
    width: 95vw;
  }

  .login-left-content p {
    color: gray;
    width: 100%;
  }

  .social-media-items {
    font-size: smaller;
  }

  /* .right-login-form {
    margin: 0px 10px !important;
  } */
}

@media (min-width: 767.98px) {
  /* .center-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

@media (max-width: 767.98px) {
  .create-account-title {
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-logo img {
    width: 190px;
    /* height: 70px; */
  }

  .login-title {
    margin-top: 15px;
    font-weight: 100;
    font-size: 30px;
    color: gray;
  }

  .login-role {
    width: 90px;
    height: 90px;
  }

  .login-left-content {
    margin-bottom: 20px;
    display: flex;
    justify-content: center !important;
    text-align: center;
  }

  .login-left-content p {
    color: gray;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .nav-links {
    width: 75vw !important;
    margin-top: -1rem !important;
    justify-content: center !important;
    /* flex-direction: column !important; */
    gap: 0 !important;
    align-items: center !important;
  }
}

.loginpage-footer-cont {
  display: block !important;
  /* position: absolute;
  bottom: 0 !important; */
  width: 100vw;
  margin-bottom: -42px;
  /* margin-right: -60px !important; */
  height: min-content;
}

.loginpage-footer-section {
  display: block !important;
}

#content:has(.choose-login_container) {
  overflow-y: scroll !important;
}

_::-webkit-full-page-media,
_:future,
:root body:has(.choose-login_container) section#footer {
  margin-top: -38px !important;
}

@media (max-width: 486px) {
  _::-webkit-full-page-media,
  _:future,
  :root .public-login-form.login-form-resp {
    min-height: 60vh !important;
  }

  _::-webkit-full-page-media,
  _:future,
  :root .right-login-content.col-md-5.col-sm-12,
  .public-login-form.col-xl-8.col-lg-12.col-md-12.mx-auto.px-4.pb-3.pt-4.login-form-resp {
    margin-bottom: 0 !important;
  }

  _::-webkit-full-page-media,
  _:future,
  :root .login-left-content.sfari-onlyyy img {
    margin-top: 30px !important;
    margin-bottom: -10px !important;
  }
}

body:has(.choose-login_container) section.loginpage-footer-section {
  display: block !important;
}

@media (max-width: 768px) {
  .choose-login_container
    .m-0.p-0.align-items-center.center-content.justify-evenly.row {
    position: static !important;
    margin-top: 220px !important;
    margin-left: 230px !important;
  }
}

@media (max-width: 731px) {
  .choose-login_container
    .m-0.p-0.align-items-center.center-content.justify-evenly.row {
    position: static !important;
    margin-top: 250px !important;
    margin-left: 200px !important;
  }
}

@media (max-width: 619px) {
  .choose-login_container
    .m-0.p-0.align-items-center.center-content.justify-evenly.row {
    margin-top: 250px !important;
    margin-left: 175px !important;
  }
}

@media (max-width: 547px) {
  .choose-login_container
    .m-0.p-0.align-items-center.center-content.justify-evenly.row {
    margin-top: 230px !important;
    margin-left: 140px !important;
  }
}

@media (max-width: 458px) {
  .choose-login_container
    .m-0.p-0.align-items-center.center-content.justify-evenly.row {
    margin-top: 220px !important;
    margin-left: 105px !important;
  }

  @media (max-width: 425px) {
    .login-button {
      margin: 1.5rem 4.5rem !important;
    }
  }

  _::-webkit-full-page-media,
  _:future,
  :root .login-left-content.sfari-onlyyy img {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    width: 250px !important;
    height: 100px !important;
  }

  .submit-loginpage-btn {
    font-size: 20px !important;
    margin-top: 40px !important;
    width: 110px !important;
  }

  .public-login-form.col-xl-8.col-lg-12.col-md-12.mx-auto.px-4.pb-3.pt-4.login-form-resp {
    margin-top: 30px !important;
  }
}

.container-fluid.md-px-5.ps-md-5.choose-login_container {
  display: flex;
  align-items: flex-end;
}

#root:has(.container-fluid.md-px-5.ps-md-5.choose-login_container) {
  overflow-y: scroll !important;
}

.gradient-background {
  background: radial-gradient(
      circle at 0% 0%,
      rgba(249, 171, 204, 0.8) 10%,
      rgba(255, 229, 240, 0.4) 30%,
      transparent 80%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9) 40%,
      rgba(255, 255, 255, 0.9) 70%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(49, 120, 218, 1) 0%,
      rgb(19, 112, 242) 20%,
      transparent 40%
    ) !important;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  position: relative;
}

.main-login-container {
  background: inherit;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.font-12 {
  font-size: 12px !important;
}

.security-text {
  display: flex;
  justify-content: center;
}

#footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: #333d3d;
  padding: 9px;
}

@media (max-width: 1440px) {
  .public-login-form .login-content-wrapper {
    margin-top: 5rem;
  }
}

@media (max-width: 1370px) {
  .login-form-container {
    margin-right: 5rem;
  }
}

@media (max-width: 1024px) {
  .welcome-content .login-title {
    font-size: 40px !important;
  }

  .login-form-container {
    margin: 2rem 1rem;
  }

  .main-login-container {
    padding: 2rem 0;
  }

  .login-content-wrapper {
    padding: 0;
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  .gradient-background {
    padding-bottom: 80px;
  }

  .main-login-container {
    width: 95%;
    padding: 0 !important;
    margin: 20px auto;
    top: 0;
    transform: none;
    box-shadow: none;
  }

  /* #footer {
    position: fixed;
    bottom: 0;
  } */
}

.login-form-container {
  flex: 0 1 400px;
  min-width: 300px;
}

.login-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem; */
  max-width: 1400px;
  margin: 0 auto;
}

.welcome-content {
  flex: 1;
}

.login-form-container {
  flex: 1;
  max-width: 400px;
}

.login-title {
  font-size: 95px;
  font-weight: 300;
  color: #333;
}

.welcome-content p {
  padding-left: 1rem;
  color: #333;
}

.nav-buttons {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px 50px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-buttons p {
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-buttons p:hover {
  color: #51c7df;
}

.login-btn {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  transition: all 0.3s ease;
}

.login-btn:active {
  background-color: white !important;
  color: #333 !important;
}

/* Update spinner styles */
.spinner-border-sm {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2em solid #333;
  border-right-color: transparent !important;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.forgot-password-container {
  margin: 2rem 1rem;
}

@media (max-width: 768px) {
  .login-content-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .welcome-content {
    border-right: none;
    border-bottom: 1px solid #eee;
    /* padding-right: 0; */
    /* height: 35vh; */
  }

  .login-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-logo {
    justify-content: center;
  }

  .main-login-container {
    width: 95%;
    padding: 1rem;
    position: relative;
    transform: none;
    left: 0;
    margin: 20px auto;
  }

  .nav-buttons {
    position: absolute;
    width: 100%;
    justify-content: center;
    padding: 15px;
  }
}

/* Update login button container */
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 1.5rem auto;
  border-radius: 8px;
}

/* Responsive styles for larger screens */
@media (min-width: 1024px) and (max-width: 1300px) {
  .login-content-wrapper {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .welcome-content {
    padding: 1.5rem;
  }

  .login-title {
    font-size: 70px;
  }

  .login-form-container {
    padding: 0.5rem;
  }
}

@media (min-width: 1301px) and (max-width: 1600px) {
  .login-content-wrapper {
    padding: 2rem;
    max-width: 1200px;
  }

  .welcome-content {
    padding: 2rem;
  }

  .login-form-container {
    flex: 0 1 450px;
  }
}

@media (min-width: 1601px) {
  .main-login-container {
    max-width: 1400px;
  }

  .login-content-wrapper {
    padding: 2.5rem;
    max-width: 1400px;
  }

  .login-form-container {
    flex: 0 1 500px;
  }
}
