.login-logo {
  width: 10cqh;
  display: flex;
  justify-content: start;
}

.login-logo img {
  width: 15rem;
}


.login-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 100 !important;
  font-size: 4.3rem;
  color: gray;
}

.login-left-content {
  font-weight: 100;
  /* margin: 2rem 0 1rem 6rem; */
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: -25px;
  margin-left: -2px;
}

.login-left-content p {
  color: gray;
  /* width: 50%; */
}

.social-media-items {
  margin-top: 25px;
}

.social-media-items :hover {
  color: #a7ca42;
}

.social-media-items * {
  margin-right: 4px;
  color: black;
  font-size: 30px;
}



.login-create-account {
  text-align: right;
  position: relative;
}

.login-create-account a {
  position: absolute;
  top: -75px;
  right: 20px;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
}

.public-page-form .register-btn {
  display: block;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: 25px auto;
}

.radio-wrapper>div {
  display: flex;
  align-items: center;
}

.radio-wrapper * {
  font-size: 10px;
  text-align: left;
}

.radio-wrapper input[type='radio'] {
  width: 20px;
  height: 20px;
  background-clip: content-box;
  border: 2px solid #01c5d1;
  background-color: #fff;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
}

.radio-wrapper input[type='radio']:checked {
  background-color: #01c5d1;
}

.create-account-title {
  margin-left: 100px;
}

.ims-login-role:hover {
  background-color: #51c7df;
}

.main-login-role:hover {
  background-color: #ff3399;
}

.login_container svg {
  width: 70%;
}

.learner-logo:hover * {
  fill: white;
}

.learner-logo-clicked {
  fill: white;
}

.learner-logo-clicked [class^='st'] {
  fill: white;
}

/* ------------ */
.social-media-item {
  margin-right: 20px;
  color: black;
  font-size: 20px;
}

.button-type_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* Choose login style */
.choose-login_container {
  background-image: url('../../../assets/images/Login/sus-mark-trans-bkg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: cover;
  background-color: #f8f7f7;
  min-height: calc(100vh - 42px);
}

/* Login style */
.login_container {
  background-image: url('../../../assets/images/Login/Cogs_Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: cover;
  background-color: #f8f7f7;
  min-height: calc(100vh - 42px);
}

/* choose login */

.login-role {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .choose-login_container {
    min-height: calc(100vh - 92px);
  }

  .login_container {
    min-height: calc(100vh - 92px);
  }

  .center-content {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
  }

  .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-title {
    margin-top: 15px;
    font-weight: 100;
    font-size: 35px;
    color: gray;
  }

  .login-role {
    width: 110px;
    height: 110px;
  }

  .login-left-content {
    margin-bottom: 20px;
    margin-left: 5px !important;
    display: flex;
    justify-content: center !important;
    text-align: center;
  }

  .login-left-content p {
    color: gray;
    width: 100%;
  }

  .social-media-items {
    font-size: smaller;

  }
}

@media (min-width: 767.98px) {
  .center-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767.98px) {
  .create-account-title {
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-logo img {
    width: 150px;
  }

  .login-title {
    margin-top: 15px;
    font-weight: 100;
    font-size: 30px;
    color: gray;
  }

  .login-role {
    width: 90px;
    height: 90px;
  }

  .login-left-content {
    margin-bottom: 20px;
    display: flex;
    justify-content: center !important;
    text-align: center;
  }

  .login-left-content p {
    color: gray;
    width: 100%;
  }
}