/* SkeletonLoader.css */
.skeleton-loader {
  margin: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.skeleton-header {
  height: 100px;
  margin: 2rem 0rem;
}

.skeleton-body {
  height: 600px;
}

.skeleton-dropdown {
  height: 40px;
  width: 20%;
  margin-bottom: 2rem;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: loading 1.2s infinite;
}

.skeleton-pagination {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  border-radius: 4px;
}

.skeleton-pagination .links {
  width: 3%;
  height: 100%;
  margin: 0px 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  animation: loading 1.2s infinite;
}

.skeleton-row {
  display: flex;
  padding: 17px;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.skeleton-title-block {
  height: 10px;
  margin-bottom: 20px;
  width: 40%;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: loading 1.2s infinite;
}

.skeleton-subtitle-block {
  height: 5px;
  width: 70%;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: loading 1.2s infinite;
}

.skeleton-block {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: loading 1.2s infinite;
}

.skeleton-block.wide {
  width: 30%;
  margin-right: 10px;
}

.skeleton-block.medium {
  width: 25%;
  margin-right: 10px;
}

.skeleton-block.short {
  width: 15%;
  margin-right: 10px;
}

.skeleton-block.button {
  width: 25%;
  height: 40px; /* Simulate the button height */
  background-color: #ccc;
}

@keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
