
.filled-chip {
    position: relative;
    appearance: none;
    max-width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    color: #fff;
    background-color: rgba(51, 61, 61, 0.5);
    vertical-align: middle;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px;
    text-decoration: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.filled-chip-content {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}