a:hover,
.a:hover {
  color: #a7ca42;
}

.my_portfolio_title span {
  text-align: left;
  font: normal normal 600 24px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}
.my_portfolio_bar {
  text-align: left;
  font: normal normal 600 24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.title_preview_portfolio {
  text-align: left;
  font: normal normal 600 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #01c5d1;
}
.my_portfolio_publish {
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
  display: flex;
  /*display: grid;*/
  /*grid-template-columns: auto 50px;*/
}
/* Toggle */
.form-switch {
  display: inline-block;
  /* cursor: pointer; */
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.3rem;
  width: 46px;
  height: 24px;
  /* border: 1px solid #707070; */
  background-color: #e6e6e6;
  border-radius: 24px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  cursor: pointer;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: #333d3d29;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #a7ca42;
}

.form-switch input:checked + i::before {
  transform: translate3d(14px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
/* End of toggle */

.connections {
  width: 100%;
  display: block;
}

.box-group-title > h3 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 50px;
}
