.dashboard_lastLogin span {
  text-align: left;
  font: normal normal 500 12px Montserrat;
  letter-spacing: 0.48px;
  color: #707070;
}
.dashboard_lastLogin {
  text-align: left;
  font: normal normal 300 12px Montserrat;
  letter-spacing: 0.48px;
  color: #333d3d;
}
.dashboard-twitter {
  border: 4px solid #1ea1f1;
}
.dashboard-twitter img {
  height: 60px;
}
.dashboard-twitter-innerDiv {
  background-color: #1ea1f1;
  margin: 0px;
}

.twitter-link {
  word-break: break-all;
}

.last-div-remove-border {
  border-bottom: 0px;
}

@media only screen and (max-width: 1570px) and (min-width: 1000px) {
  .read-watch-listen-image-div {
    width: 40% !important;
    text-align: left;
    /* text: center; */
  }
  .read-watch-listen-text-div {
    width: 60% !important;
    /* text-align: center; */
  }
}
.widget-interesting {
  background-color: rgb(248, 247, 247);
}
.info-text-dashboard {
  text-align: left;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.read-watch-listen-title {
  text-align: left;
  font: normal normal bold 12px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}
.read-watch-listen-author {
  text-align: left;
  font: normal normal normal 10px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.certification-progress {
  text-align: left;
  font: normal normal 600 20px Montserrat;
  letter-spacing: 0.8px;
  color: #707070;
  opacity: 1;
}
.listen-bg__img,
.watch-bg__img,
.read-bg__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.listen-bg__img {
  background-image: url('../../assets/images/read_watch_listen_Listen_with typo1.png');
}
.read-bg__img {
  background-image: url('../../assets/images/read_watch_listen_Read_with\ typo2.png');
}
.watch-bg__img {
  background-image: url('../../assets/images/read_watch_listen_Watch_with\ typo1.png');
}
.iamr-inbox_link {
  margin-top: -5rem !important;
  color: #000;
}
.iamr-inbox_link:hover {
  color: #99cc33;
}
