.dashboard_lastLogin span {
  font-size: 14px;
}
.dashboard_lastLogin {
  font-size: 10px;
  font-weight: none;
}
.dashboard-twitter {
  border: 4px solid #1ea1f1;
}
.dashboard-twitter img {
  height: 60px;
}
.dashboard-twitter-innerDiv {
  background-color: #1ea1f1;
  margin: 0px;
}

.twitter-link {
  word-break: break-all;
}

.last-div-remove-border {
  border-bottom: 0px;
}
.read-watch-listen-title {
  font-size: 12px;
}
@media only screen and (max-width: 1570px) and (min-width: 1000px) {
  .read-watch-listen-image-div {
    width: 40% !important;
    text-align: left;
    /* text: center; */
  }
  .read-watch-listen-text-div {
    width: 60% !important;
    /* text-align: center; */
  }
}
.widget-interesting {
  background-color: rgb(248, 247, 247);
}
