.breakdown_popup-modal .modal-dialog {
    max-width: 700px !important;
}
.breakdown_popup-modal #subscription-modal {
    /*max-width: 785px !important;*/
    /*border-radius:6px*/


    max-width: 785px !important;
    border-radius: 6px;
    left: 0;
    right: 0;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.close-briefing-modal .btn-close  {
    color: #231F20;
}

.breakdown_popup-modal .modal-header {
    /*padding-bottom: 10px !important;*/
    border-bottom: 0 !important;
    margin-right: -7px;
    height: 20px !important;
    margin-top: 17px !important;
}
.breakdown_popup-modal .modal-title {
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    font: normal normal bold 18px/15px Montserrat;
    letter-spacing: 0.88px;
    color: #231F20;
    opacity: 1;
    margin-top:10px
}

.close-briefing-modal {
    margin-bottom: 23px !important;
    color: #000;
    opacity: 1
}

.breakdown_popup-modal .modal-content {
    border-radius: 6px !important;
    padding: 10px 35px !important;
    background-color: #fbfbfb !important;
}


.breakdown_popup-modal .briefing-modal-body {
    background-color: inherit;
    padding: 20px 30px !important;
}

.content-item-title {
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0.68px;
    color: #707070;
}

.content-item-description {
    margin-left: 6px;
    text-align: left;
    font: normal normal 600 14px/20px Montserrat;
    letter-spacing: 0.68px;
    color: #707070;
}

.content-item-container {
    margin: 8px 0;
}
