
.briefing-modal .modal-title {
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    font: normal normal bold 22px/15px Montserrat;
    letter-spacing: 0.88px;
    color: #231F20;
    opacity: 1;
}

.close-briefing-modal {
    margin-bottom: 23px !important;
    color: #000;
    opacity: 1
}

.briefing-modal .modal-content {
    border-radius: 0px !important;
    padding: 10px 50px !important;
    background-color: #fbfbfb !important;
}


.briefing-modal .briefing-modal-body {
    background-color: inherit;
    padding: 10px 0 !important;
}

.content-item-title {
    text-align: left;
    font: normal normal normal 17px/20px Montserrat;
    letter-spacing: 0.68px;
    color: #707070;
}

.content-item-description {

    text-align: left;
    font: normal normal 600 17px/20px Montserrat;
    letter-spacing: 0.68px;
    color: #707070;
}
