.badge-container__icon {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-container__icon__active .badge-icon span {
  color: deeppink;
}
.badge-icon {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge-icon span {
  color: #ccc;
  font-weight: bold;
  font-size: 30px;
}
.badge-item {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .badge-container__icon {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .badge-container__icon {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
@media screen and (max-width: 620px) {
  .badge-container__icon {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
