.notification-content-list {
    margin-bottom: 0.5rem;
}
.notification-content-list:hover {
    background: #F8F7F7;
    cursor: pointer;
}

.notification-content-list-item-dot {
    color: #99CC33
}

.notification-content-title {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 4px;
    color: #000;
    overflow-wrap: anywhere;
}

.notification-content-description{
    font-weight: bold;
    font-style: normal;
    overflow-wrap: anywhere;

}

.view-all-button{
    border: none;
    padding: 6px 8px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 12px
}
