/* .ql-toolbar {
    background-color: #f5f5f5 !important;
    border: 1px solid #ddd !important;
    padding: 5px !important;
} */

.ql-toolbar .ql-formats {
    margin: 5px !important;
}

.ql-toolbar button {
    background-color: white !important;
    /* border: 1px solid #ccc !important; */
    border-radius: 2px !important;
    padding: 8px 8px !important;
    margin: 3px !important;
    cursor: pointer !important;
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;
    text-align: center !important;
    line-height: 1.5 !important;
}

.ql-toolbar button:hover {
    background-color: #eee !important;
}

.ql-toolbar button.ql-active {
    background-color: #ddd !important;
    border-color: #bbb !important;
}

/* .ql-picker-label {
    margin-top: 8px !important;
} */