.brand-button {
  background-color: rgb(81, 199, 223) !important;
  color: white !important;
  font-weight: 600 !important;
  border: 0 !important;
}
.brand-button:hover {
  background-color: rgb(153, 204, 51) !important;
}
.brand-button-active {
  background-color: rgb(254, 67, 161) !important;
  color: white !important;
  font-weight: 600 !important;
}
.brand-text {
  color: rgb(81, 199, 223) !important;
  font-weight: 700 !important;
}
