@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Open+Sans:wght@300&display=swap');
.certification-status p {
  font: normal normal 300 13px/16px Montserrat;
  letter-spacing: 0.52px;
  color: #333d3d;
  opacity: 1;
}

.certification-status .title {
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  text-transform: uppercase;
  opacity: 1;
  /* font-weight: 500; */
}
.certificate-container {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 4px 2px 4px rgb(224 231 243);
}
.certification-header {
  width: 100%;
  display: flex;
  align-items: end;
}
.certification-header img {
  width: calc(50% - 0px);
}
.certification-header span {
  width: calc(50% - 20px);
}
.certification-header h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.certification-header h1 {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.user-info_container {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-info_container p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.user-info_container h4 {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px !important;
  border-bottom: 2px solid black;
}

.certification-footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.certification {
  display: flex;
  flex-direction: column;
}
.footer-logo__div {
  position: relative;
  width: 20%;
  padding-bottom: 1%;
  /* height: 100%; */
}
.footer-logo__div img {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* left: 0; */
  /* bottom: 0px; */
}

.footer-info__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: visible;
}
.footer-info__div h4 {
  /* width: 0%; */
  font-family: 'Lavishly Yours', cursive;
  font-size: 50px;
  /* overflow: visible; */
  margin: 0 10%;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 2px solid black;
}
.footer-info__div h6 {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* .footer-info__div small {
  font-weight: 700;
} */

.footer-badge__div {
  width: 25%;
}
.footer-badge__div img {
  width: 100%;
  height: 100%;
}
.cancel {
  cursor: pointer;
}
.button-format {
  border: none;
  padding: 7px 20px;
}
.certification-date {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}
.certification-date p:last-child {
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
  width: 60%;
  border-bottom: 2px solid black;
}
.lts-button:disabled,
.lts-button[disabled] {
  opacity: 0.5;
}
.lts-button:disabled:hover,
.lts-button[disabled]:hover {
  opacity: 0.5;
  background: #01c5d1 !important;
}
@media screen and (max-width: 1200px) {
  .footer-info__div h4 {
    font-size: 30px;
    margin: 0 5%;
  }
  .certification-header h4 {
    font-size: 20px;
  }
  .certification-header h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .certification-footer {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .footer-info__div h4 {
    font-size: 30px;
    margin: 0 5%;
  }
  .certification-header h4 {
    font-size: 13px;
  }
  .certification-header h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 562px) {
  .footer-info__div h4 {
    font-size: 30px;
    margin: 0 5%;
  }
}
