.table-wrapper {
    border: 1px solid rgb(187, 189, 191);
    margin: 20px 0;
}

.table-wrapper__title {
    padding: 10px;
    margin: 0;
    background: #51c7df;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper__title h5 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px
}

.journal_table-row {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    padding: 2px 10px !important;
    width: 100%;
    height: 60px;
    ;
}

.intro-journal {
    background-color: transparent !important;
}

.journal-table-border {
    border: none !important;
}

.journal_table-data {
    padding: 2px 10px !important;
    align-items: center
}

.fixed-width-cell {
    width: calc(100% / 3);
}

.journal_table-input__container {
    display: flex;
    gap: 20px
}

.journal_table-input__title {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 600;
}

.journal_table-input {
    border-radius: 0.25rem;
    background-color: white;
    color: #000;
    border: 1px solid #e3e3e3;
    vertical-align: top;
}

.table_cell-title_box {
    background-color: #E5E5E5;
    color: #231F20;
    width: 100%;
}

.table-subheader-title_box {
    align-items: center;
    background-color: #E5E5E5;
    color: #231F20;
    padding: 8px 0px;
}

.table-subheader-title {
    font-size: 12px;
    text-align: start;
    padding: 4px 10px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.table_cell-title {
    font-size: 12px;
    text-align: start;
    padding: 4px 10px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.table_header-title_box {
    align-items: center;
    background-color: #51c7df;
    color: #fff;
    padding: 8px 0px;
}

.table_header-title {
    font-size: 12px;
    text-align: start;
    padding: 4px 10px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.journal-table {
    width: 100%;
    height: 100%;
    border-collapse: separate !important;
    border-spacing: 2px;
    border: 1px solid #BBBDBF
}

.table-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.add_plus-sign {
    position: absolute;
    right: -0.5%;
    bottom: 50%;
    transform: translate(50%, 50%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 4px;
}

.add_minus-sign {
    position: absolute;
    right: -0.5%;
    bottom: 50%;
    transform: translate(50%, 50%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4444;
    padding: 4px;
}