.intructor-notes__btn {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 5px 12px;
  cursor: pointer;
  border: 2px solid #bbbdbf;
}
.intructor-notes__btn-active {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 5px 12px;
  background: #51c7df;
  color: white;
  border: 2px solid #51c7df;
  cursor: pointer;
}
.intructor-notes__btn h4 {
  display: flex;
  width: 100%;
  justify-content: center !important;
  text-align: center !important;
  padding: 0;
  margin: 0;
}
.intructor-notes__btn-active h4 {
  display: flex;
  width: 100%;
  justify-content: center !important;
  text-align: center !important;
  color: white !important;
  padding: 0;
  margin: 0;
}

.intructor-notes {
  background-color: white;
  padding: 10px;
  margin-bottom: 2rem;
  position: relative;
}
.end-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0px;
}
.end-button button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  background-color: #51c7df;
  color: #fff;
  font-size: 18;
  padding: 8px 25px;
}
.intructor-notes .chat-message {
  padding: 7px;
  border: 2px solid #f8f7f7;
  margin-bottom: 15prgb (30, 8, 8);
}
.intructor-notes .chat-message .chat-date {
  font-size: 12px;
  letter-spacing: 0px;
  color: #acb3ba;
}

.intructor-notes .chat-message.self .chat-user {
  order: 2;
  justify-content: end;
  flex-direction: row-reverse;
}

.intructor-notes .chat-message .status {
  display: flex;
  align-items: end;
  justify-content: end;
}

.intructor-notes .chat-message.self .status {
  order: 1;
  justify-content: start;
}

.intructor-notes .chat-message .message-text {
  background: #f8f7f7 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 10px;
  /* min-height: 90px; */
  padding: 10px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.intructor-notes .chat-message.self .message-text {
  border-radius: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 42px;
}

.intructor-notes .chat-message .message-text p {
  letter-spacing: 0px;
  color: #707070;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  word-break: break-word;
  white-space: pre-line;
}

.intructor-notes .chat-message .message-text p:nth-child(2) {
  letter-spacing: 0px;
  color: #51c7df;
  font-size: 10px;
  text-align: right;
  margin: 0;
}
.intructor-notes img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.chat-user {
  display: flex;
  align-items: center;
}

.chat-user img {
  width: 32px !important;
  height: 32px !important;
  object-fit: contain;
}

.chat-user p {
  margin: 0;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #707070;
}
.no-notes-message {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
