.upload-image {
  border: 1px solid #bbbdbf;
  border-radius: 6px;
  opacity: 1;
  width: 172px;
  height: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container p {
  font-size: 12px;
  color: #333d3d83;
  margin: 0;
  margin-bottom: 2px;
}

.upload-container label {
  height: 48px;
  border: 1px solid #bbbdbf;
  opacity: 1;
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container .upload-image img {
  border-radius: 5px;
}

.image-upload p {
  margin: auto;
  font-size: 13px;
  color: #707070;
}

.image-upload .fa-file-upload {
  /* margin: auto; */
}

.edit-experience-modal input {
  height: 48px;
  margin-right: 0px !important;
  padding-left: 10px;
}

.edit-experience-modal input[type='date'] {
  position: relative;
  padding: 10px;
}

.edit-experience-modal input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

.edit-experience-modal input[type='date']:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 22px;
  height: 25px;
  right: 10px;
  top: 15px;
  position: absolute;
  color: #707070;
}

.edit-experience-modal input[type='checkbox'] {
  all: revert;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

.edit-experience-modal input[type='checkbox']:hover {
  cursor: pointer;
}

.edit-experience-modal input[type='checkbox']:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  font-size: 15px;
  text-align: center;
  padding: 2px;
  color: transparent !important;
  background: #ffffff;
  display: block;
  /* width: 20px;
  height: 20px; */
  border: 1px solid #bbbdbf;
  margin-right: 7px;
}

.edit-experience-modal input[type='checkbox']:checked:before {
  background-color: #2196f3;
  color: white !important;
  border: 0;
  padding: 3px;
}

.edit-experience-modal textarea {
  height: 164px;
  border-radius: 0px;
  border: 1px solid #bbbdbf;
  padding: 15px;
}

.attach-link h5 {
  color: #333d3d;
  font-weight: 600;
  font-size: 18px;
}

.attach-link p {
  color: #333d3d83;
  font-weight: 400;
  font-size: 16px;
}

.linkIcons {
  position: absolute;
  right: 25px;
  top: 12px;
  margin: auto;
}

.attach-link input {
  padding-right: 45px;
}

.attach-link .col-6 {
  position: relative;
}

.attach-link .col-12 {
  position: relative;
}

.experiences-container {
  border: 1px solid #bbbdbf;
  border-radius: 6px;
  opacity: 1;
}

.experiences-container .title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
  text-transform: uppercase;
  flex-grow: 1;
}

.experiences-container .experience-header label i {
  /* text-align: left; */
  margin-right: 0;
}

.experiences-container .experience-header p,
.show-portfolio-text {
  /* text-align: left; */
  font-size: 17px !important;
  font-weight: 600 !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
}

.experience-container {
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.experience-container .image-container {
  width: 120px;
}

.experience-container .image-container img {
  width: 120px;
  border-radius: 4px;
  height: 100px;
  /* min-height: 100px; */
  object-fit: cover;
}

.experience-details {
  color: #333d3d;
  flex-grow: 1;
  word-break: break-word;
}

.experience-container .experience-details h4,
.experience-details .education-details h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.68px;
  margin-bottom: 0;
}

.experience-details h5 {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.6px;
  margin-bottom: 0;
  font-weight: 500;
}

.experience-details p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 0;
}

.experience-details .external_links a {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.experience-details .experience-description p {
  margin: 5px 0px;
}

.experience-details .edit-icon span {
  cursor: pointer;
  color: #707070;
}

.experience-container .edit-icon span {
  cursor: pointer;
  color: #707070;
}

.experience-header span {
  color: #707070;
}

.no-experience-added {
  text-align: center;
  font: normal normal medium 17px/19px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

input[type='month']::-webkit-calendar-picker-indicator {
  height: 25px;
  width: 25px;
}

@media (max-width: 1024px) {
  #current_position {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
}

@media (min-width: 1024px) {
  #current_position {
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .experience-container {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .experience-header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .experience-header .show_in_portfolio {
    width: 100%;
  }

  .experiences-container .experience-header p {
    /* text-align: left; */
    font-size: 14px;
    flex-grow: 1;
  }

  .experiences-container .experience-header label {
    /* text-align: left; */
    /* width: 100%;
    justify-content: space-between; */
  }

  .experiences-container .experience-header label i {
    /* text-align: left; */
    margin-right: 0;
  }

  .experiences-container hr {
    border-bottom: 1px solid #bbbdbf;
    width: 90%;
  }

  .break-experience {
    display: block !important;
    flex-basis: 100%;
    height: 0;
    order: 3;
  }

  .experience-container .image-container {
    order: 1;
    width: 60%;
  }

  .experience-details {
    order: 4;
  }

  .experience-container .edit-icon {
    order: 2;
    text-align: right;
    padding-right: 10px;
    flex-grow: 1;
    margin: auto;
  }

  .experience-container .image-container img {
    width: 100%;
    min-height: 80px;
  }

  .experience-details .external_links {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .break-experience {
    display: none;
  }
  .experience-details .external_links {
    width: 75%;
  }

  .experience-container {
    flex-wrap: initial;
  }
}

@media (max-width: 550px) {
  .experience-details p {
    font-size: 14px !important;
  }

  .edit-experience-modal .edit-account {
    width: 115px;
  }

  /* .experience-container .editICO {
    width: 16px !important;
    height: 16px !important;
  } */
}
