.courseVcredential-modal>modal-content {
  width: 80vw;
}

.courseVcredential-modal {
  font-size: 12px;
}

.courseVcredential-modal p {
  font-weight: 500;
}

@media (min-width: 900px) {
  .myCustomModal .modal-dialog {
    max-width: 1100px;
  }
}

_::-webkit-full-page-media,
_:future,
:root .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value.ag-cell-focus .custom-select {
  width: 100% !important;
  height: 25px !important;
  border: 1px solid #d7d9d9 !important;
  border-radius: 10px !important;
  font-size: 12px !important;
  color: #333 !important;
  position: relative !important;
  background-color: white !important;
}