.journal-title {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 15px 10px 0px;
  text-transform: uppercase;
  font: normal normal 700 20px Montserrat;
  letter-spacing: 0.96px;
  color: #231f20;
}

.video-container {
  width: 100%;
  display: flex;
  align-items: end;
  height: 100%;
}

.lts-triangle-container {
  width: 40%;
  display: flex;
  justify-content: center;
}

.triangle-icon {
  /*width: 180px;*/
  /*height: 180px */
  width: 95%;
  height: 100%;
}

.journal-paragraph {
  font: normal normal 500 10.2px/16px Montserrat;
  letter-spacing: 0.52px;
  color: #333d3d;
}

.custom-breakdowns-container {
  display: flex;
  flex-direction: column;
}

.select-task-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 35px 10px;
}

.days-of-task-box {
  background: #fff;
  color: #231f20;
  border-radius: 6px;
  cursor: pointer;
}
.days-of-task-box:hover {
  background: #51c7df !important;
  color: #fff !important;
}
#textEditorContent {
  height: 170px;
}
/* add lesson */
.add-lesson-container {
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
  overflow: hidden;
}
.add-lesson-container p {
  font-size: 13px;
  padding: 0px 10px;
}
.add-lesson-container p:hover {
  color: #51c7df;
}
.add-lesson-container-transition {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  transition: bottom 0.5s ease;
}

.add-lesson-container.hidden {
  opacity: 0;
  height: 0;
}

.add-lesson-container.visible {
  opacity: 1;
  height: auto;
}

@media screen and (max-width: 545px) {
  #textEditorContent {
    height: 150px;
  }
}
@media screen and (max-width: 1137px) {
  #textEditorContent {
    height: 160px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 785px) {
  #textEditorContent {
    height: 150px;
    padding-bottom: 20px;
  }
}
.instructor-debrief-editor .ql-container {
  height: 0% !important;
  min-height: 120px !important;
}
@media screen and (max-width: 1173px) {
  .instructor-debrief-button {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 435px) {
  .instructor-debrief-button {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 310px) {
  .instructor-debrief-button {
    margin-top: 80px !important;
  }
}
