.jira-button {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #01c5d1;
  border: none !important;
  position: fixed;
  left: 100%;
  top: 40%;
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 12px !important;
  padding: 3px;
  color: #fff;
}
.jira-button:hover {
  background-color: #a7ca42 !important;
  color: #fff;
}
.dropdown-trigger {
  background: #fff;
  text-align: center;
}

#language :hover {
  cursor: pointer;
}

#language.dropdown .dropdown-menu {
  width: 81px !important;
  min-width: 81px !important;
}
.lang-dropdown {
  border-radius: 0;
  border: 1px solid #333d3d29;
}
.lang-dropdown:hover {
  border-radius: 0;
  border: 1px solid #333d3d29;
  box-shadow: none;
}
.lang-dropdown-selected {
  display: inline-block;
  padding: 5px 8px;
}
.lang-dropdown-selected-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 19px;
  font-weight: 600;
  margin-right: 13px;
  letter-spacing: 0px;
  color: #01c5d1;
  display: inline-block;
  vertical-align: middle;
}
.lang-dropdown-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  color: #01c5d1;
}
.lang-dropdown-menu {
  border-radius: 0;
  width: 81px !important;
  border: 1px solid #333d3d29;
}
.lang-content a {
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #01c5d1;
}
.lang-content {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  text-align: center;
}
.lang-dropdown-margin {
  margin-top: 0px !important;
}
.card {
  border: 0px;
  border-radius: 0px !important;
}
.card-body-video {
  flex: 1 1 auto;
  min-height: 1px;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 25px; */
}
.card-body-video h5 {
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #333d3d;
  opacity: 1;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}
.card-body-video p {
  font-size: 12px;
  letter-spacing: 0.56px;
  color: #333d3d83;
  opacity: 1;
  text-align: left;
}
.has-text-white-bis {
  color: #fafafa !important;
}
.has-background-primary {
  background-color: #01c5d1 !important;
}
.verify-email {
  background: #ace7ec;
  opacity: 1;
  height: fit-content;
  text-align: center;
}
.verify-email p {
  font-size: 12px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.verify-email a:hover {
  color: #a7ca43;
}
.videos-track {
  border: none;
  background: transparent;
}
.videos-track-icon {
  font-size: 32px;
  background: transparent;
  opacity: 1;
  color: #bbbdbf;
  position: relative;
  /* top: -15%; */
}
.card-body-video-small h5 {
  font-size: 14px;
  letter-spacing: 0.56px;
  color: #333d3d;
  opacity: 1;
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}
.card-body-video-small p {
  font-size: 12px;
  letter-spacing: 0.48px;
  color: #333d3d83;
  opacity: 1;
  text-align: left;
}
/* .react-datepicker {
  font-family: 'Montserrat', sans-serif !important;
  border: 1px solid #333d3d29 !important;
  border-radius: 0px !important;
  width: 100%;
}
.react-datepicker__week {
  white-space: normal;
}
.react-datepicker__header {
  background-color: #fff !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom: 0px solid transparent !important;
} */
/* .react-datepicker__current-month {
  margin-left: 10px;
  text-transform: uppercase;
  padding-top: 5px;
  text-align: left;
  font: normal normal bold 16px/24px 'Montserrat';
  letter-spacing: 0px;
  color: #3d3d3d;
} */
/* .react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 14px !important;
  text-align: left !important;
  margin-left: 15px !important;
  margin-bottom: 10px !important;
} */
/* .react-datepicker__day-names {
  font-size: 11px !important;
  letter-spacing: 0.14px !important;
  opacity: 0.5 !important; */
/* font-weight: 600; */
/* margin-top: 10px !important;
  text-transform: capitalize !important;
} */
/* .react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer; */
/* color: #3e3e3e !important; */
/* letter-spacing: 0.36px !important; */
/* color: #3d3d3d !important; */
/* opacity: 1 !important;
  font-size: 10px !important; */
/* } */
/* .react-datepicker__day--selected {
  background-color: #ace7ec !important;
  color: #fff;
  border-radius: 0px !important;
} */

/* .react-datepicker .react-datepicker__day--keyboard-selected {
  background-color: white;
  color: black;
} */

/* .react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0px !important;
} */

/* .react-datepicker__navigation--previous { */
/* right: 40%; */
/* left: unset !important;
  right: 40px;
  text-align: center;
  width: 40px; */
/* height: 40px; */
/* border: none;
  border-right-color: #333d3d;
} */
/* .react-datepicker .react-datepicker__navigation--next {
  right: 3%;
} */
/* .react-datepicker__month-container {
  float: none !important;
} */
.journal-react-quill > .quill {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.journal-react-quill > .quill > .ql-toolbar.ql-snow {
  display: none !important;
}
.journal-react-quill .ql-container.ql-snow {
  background-color: #fff;
  border: 1px solid #bbbdbf;
  border-radius: 6px;
  opacity: 1;
  min-height: 202px;
}
.journal-react-quill .ql-editor {
  border: none !important;
  height: auto !important;
  padding: 10px !important;
  overflow: hidden !important;
}
.journal-react-quill .ql-editor p {
  text-align: left !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
  line-height: 1.3;
}
.ql-editor .ql-size-small {
  color: #bbbdbf !important;
  font-size: 17px !important;
  font-weight: 300 !important;
}
.ql-editor strong {
  font-weight: bold !important;
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 1em !important;
}
.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 0.5px solid rgba(51, 61, 61, 0.16) !important;
  font-family: 'Montserrat', sans-serif !important;
}
.ql-toolbar.ql-snow {
  background-color: #fff !important;
}
.ql-editor .ql-size-huge {
  font-size: 23px !important;
  line-height: 1.2 !important;
  margin-bottom: 0 !important;
  color: #333d3d !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}
.journal-react-quill .ql-editor ol li,
.journal-react-quill .ql-editor p,
.journal-react-quill .ql-editor ul li {
  text-align: left !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  letter-spacing: 0 !important;
  color: #707070 !important;
  opacity: 1 !important;
  line-height: 1.3;
}
.journal-text-box > .quill > .ql-toolbar.ql-snow {
  display: none !important;
}
.journal-text-box .ql-container.ql-snow {
  border: none !important;
}
.journal-text-box .ql-editor p {
  color: rgb(112, 112, 112) !important;
  line-height: 1.3 !important;
  font-size: 17px !important;
  font-weight: 300 !important;
}
.journal-text-box .ql-editor {
  border: none !important;
  background-color: rgb(251, 251, 251) !important;
  height: 230px !important;
  border: 1px solid #dae9b3 !important;
  box-shadow: 0px 0px 3px 0px #dae9b3 !important;
}
.journal-text-box .quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 17px;
  color: #bbbdbf;
  font-weight: 400;
  font-style: normal;
}
.journal-guidance > .quill {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  width: auto;
}
.journal-guidance > .quill > .ql-toolbar.ql-snow {
  display: none !important;
}
.journal-guidance .ql-container.ql-snow {
  border: none !important;
}
.journal-guidance .ql-editor {
  border: none !important;
  height: auto !important;
  padding: 0px !important;
  overflow: hidden !important;
  -webkit-user-modify: read-only;
  -moz-user-modify: read-only;
}
.journal-guidance .ql-editor .ql-size-large,
.edit-guidance .ql-editor .ql-size-large {
  color: #bbbdbf !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}
.journal-guidance .ql-editor p,
.journal-guidance .ql-editor ul li,
.journal-guidance .ql-editor ol li,
.edit-guidance .ql-editor p,
.edit-guidance .ql-editor ul li,
.edit-guidance .ql-editor ol li {
  color: #333d3d;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}
.edit-guidance .ql-editor {
  height: 200px;
}
.react-fine-uploader-gallery-dropzone {
  border: 1px solid #7070704d !important;
}
.react-fine-uploader-gallery-nodrop-container,
.react-fine-uploader-gallery-dropzone {
  border-radius: 0px !important;
  background-color: #7070701a !important;
  min-height: 230px !important;
}
.react-fine-uploader-gallery-dropzone-content {
  font-size: 20px !important;
}
.react-fine-uploader-gallery-file-input-container {
  background: #7070701a !important;
  border: none !important;
  border-radius: 0px !important;
  color: #6c757d !important;
  width: fit-content !important;
  float: none !important;
  margin: 0px !important;
  display: contents !important;
}
.react-fine-uploader-gallery-file-input-content span {
  font-size: 17px !important;
  line-height: 20px;
  letter-spacing: 0px !important;
  opacity: 1 !important;
}
.react-fine-uploader-gallery-file-input-upload-icon {
  fill: #707070 !important;
  height: 55px !important;
  margin: 0px !important;
}
.react-fine-uploader-gallery-file-input-content span svg {
  width: auto !important;
  margin-right: 5px !important;
}
.react-fine-uploader-gallery-file-input-content {
  margin-top: 7% !important;
}
.react-fine-uploader-gallery-nodrop-container {
  background: #7070701a !important;
  border: 1px solid #7070704d !important;
  opacity: 1 !important;
}
.react-fine-uploader-file-input {
  top: 15% !important;
  height: 70% !important;
}
.article-document {
  width: 100%;
  height: 197px;
}
.article-document
  .pdf-document-viewer
  .react-pdf__Page
  .react-pdf__Page__canvas {
  width: 100% !important;
  height: 197px !important;
}
.article-document .pdf-document-viewer .react-pdf__Page__canvas {
  object-fit: contain;
}
.react-pdf__Page__textContent {
  position: fixed !important;
  display: none !important;
}
.note-quill > .quill > .ql-toolbar.ql-snow {
  display: none !important;
}
.note-quill .ql-container.ql-snow {
  border: none !important;
}
.note-quill .ql-editor p,
.ql-editor ol li,
.ql-editor ul li {
  line-height: 1.2 !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  color: #707070 !important;
  letter-spacing: 0.48px !important;
}
.note-quill .ql-editor {
  background-color: #f8f7f7 !important;
  border: #f8f7f7 !important;
}
.note-quill .quill {
  margin-top: 0px !important;
}
.note-quill .quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 17px;
  color: #bbbdbf;
  font-weight: 400;
  font-style: normal;
}
.course-note .quill .ql-editor {
  height: 495px !important;
}
.journal-note .quill .ql-editor {
  height: 330px !important;
}
.session-note .quill .ql-editor {
  height: 363px !important;
  overflow-y: scroll;
}
.guidance-note .quill .ql-editor {
  height: 500px !important;
}

.view-note > .quill > .ql-toolbar.ql-snow,
.view-notes > .quill > .ql-toolbar.ql-snow {
  display: none !important;
}
.view-note .ql-container.ql-snow,
.view-notes .ql-container.ql-snow {
  border: none !important;
}
.view-note .ql-editor {
  border: none !important;
  background-color: #fbfbfb !important;
  height: 430px;
  /* min-height: 530px; */
  -webkit-user-modify: read-only;
  -moz-user-modify: read-only;
  user-modify: read-only;
  padding: 0px !important;
  word-break: break-word !important;
}
.view-notes .ql-editor {
  border: none !important;
  background-color: #fbfbfb !important;
  height: 150px !important;
  -webkit-user-modify: read-only;
  -moz-user-modify: read-only;
  user-modify: read-only;
}
.edit-note .ql-editor {
  height: 365px;
  padding: 5px 5px !important;
  background-color: #fff;
}
.edit-notes .ql-editor {
  height: 150px !important;
  padding: 5px 5px !important;
  background-color: #fff;
}
.add-new-note .ql-editor,
.add-new-note .ql-toolbar.ql-snow,
.add-new-note .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-radius: 6px !important;
  cursor: pointer;
}
.add-new-note .ql-editor .ql-size-large {
  color: #bbbdbf !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  opacity: 1 !important;
  border-radius: 6px !important;
  border: 1px solid #bbbdbf !important;
}
.add-new-note .quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 11px;
  color: #bbbdbf;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  border-radius: 6px !important;
}
.view-note .ql-editor {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #333d3d;
  opacity: 1;
}
.countBoxItem {
  color: #333d3d;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  margin-right: 15px;
  letter-spacing: 0.84px;
  opacity: 5;
  font-family: 'Montserrat', sans-serif !important;
}
.countBox {
  display: flex;
  flex-direction: row-reverse;
  margin-left: -15px;
}
.countBoxItem:first-child {
  display: none;
}
.count {
  color: #333d3d;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 7px 0px 7px !important;
  position: relative;
  font-weight: 400;
  letter-spacing: 0.84px;
}
.split {
  display: none !important;
}
.countdown-item {
  color: #333d3d;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  margin-right: 15px;
  letter-spacing: 0.84px;
  opacity: 0.5;
}
.customToast .Toastify__toast--success {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #fff;
  margin-bottom: 5px;
  background: #a7ca42;
  border-radius: 0px;
}
.customToast .Toastify__toast--error {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #fff;
  margin-bottom: 5px;
  background: #f2359d;
  border-radius: 0px;
}
.page-controls {
  text-align: center;
}
.page-controls button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
}
.Toastify__toast-container {
  margin-left: -15px !important;
}
.react-quill-on-jurnals .ql-editor {
  height: 220px !important;
}
@media (max-width: 744px) {
  .Toastify__toast-container {
    margin-left: 0px !important;
  }
}
/* .customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input,
.react-datepicker,
.react-datepicker__month-container {
  width: 98%;
} */
/* .react-datepicker .react-datepicker__day-name,
.react-datepicker .react-datepicker__day,
.react-datepicker .react-datepicker__time-name {
  width: 38px; */
/* width: 2.5rem; */
/* line-height: 2.5rem;
  font-size: 12px !important;
} */
/* @media (max-width: 768px) {
  .customDatePickerWidth,
  .customDatePickerWidth > div.react-datepicker-wrapper,
  .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    input,
  .react-datepicker,
  .react-datepicker__month-container {
    width: 100%;
  }
  .view-note .ql-editor {
    font-size: 10px;
  }
} */
/* @media (min-width: 768px) and (max-width: 1023px) { */
/* .react-datepicker__current-month {
    margin-left: 225px;
  } */
/* .react-datepicker__navigation.react-datepicker__navigation--next {
    width: 500px;
  }
  .react-datepicker__navigation.react-datepicker__navigation--previous {
    width: 750px;
  } */
/* button.react-datepicker__navigation {
    height: 60px;
  } */
/* .footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
} */
/* @media (min-width: 1024px) and (max-width: 1439px) {
  .react-datepicker__current-month {
    margin-left: 225px;
  }
  .react-datepicker__navigation.react-datepicker__navigation--next {
    width: 535px;
  }
  .react-datepicker__navigation.react-datepicker__navigation--previous {
    width: 660px;
  }
} */
/* @media (min-width: 1440px) {
  .react-datepicker__current-month {
    margin-left: -28px;
  }
} */
/* @media (min-width: 1500px) and (max-width: 2560px) {
  .react-datepicker__current-month {
    margin-left: 30px;
  }
} */
@media (min-width: 2560px) {
  .react-datepicker__current-month {
    /* margin-left: 10px; */
    /* padding-left: 100px; */
  }
  /* .react-datepicker__navigation {
    width: 100px;
  }
  .react-datepicker__navigation-icon--previous {
    right: 45px;
  }
  button.react-datepicker__navigation.react-datepicker__navigation--next {
    right: 130px;
  }
  .react-datepicker__navigation--previous {
    margin-left: -50px;
  } */
}

.tooltip-inner {
  max-width: 250px;
  text-align: left;
}

.custom-pagination .page-link {
  color: #80c2ed;
  border: 0;
}

.custom-pagination .page-item.active .page-link {
  border: 0;
  background-color: #4557bb !important;
  font-weight: bold;
}

.custom-pagination .page-item.disabled .page-link {
  opacity: 0.5;
}

.custom-pagination .page-link:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* .customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input,
.react-datepicker,
.react-datepicker__month-container {
  width: 99%;
} */
/* .react-datepicker .react-datepicker__day-name,
.react-datepicker .react-datepicker__day,
.react-datepicker .react-datepicker__time-name { */
/* width: 38px; */
/* width: 2.5rem; */
/* width: 100%;
  line-height: 2.5rem;
  font-size: 12px !important;
} */

/* .customDatePickerWidth .react-datepicker__day-names,
.customDatePickerWidth .react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

/* .customDatePickerWidth .react-datepicker__month {
  margin: 0;
} */
