/* Toggle */
.form-switch {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.3rem;
  width: 46px;
  height: 24px;
  /* border: 1px solid #707070; */
  background-color: #e6e6e6;
  border-radius: 24px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  cursor: pointer;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: #333d3d29;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked+i {
  background-color: #a7ca42;
}

.form-switch input:checked+i::after {
  margin-left: 3px;
}

.form-switch input:checked+i::before {
  transform: translate3d(14px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
  transform: translate3d(22px, 2px, 0);
}