@media (max-width: 991.9px) {
  .dropdown-menushow1 {
    top: 20px;
  }

  .edit-account {
    height: 40px;
    width: 135px;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .connection-modal p {
    font-size: 12px !important;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .portfolio-video-height .react-player__preview {
    background-size: contain !important;
    background-repeat: no-repeat;
  }
}

@media (min-width: 268px) and (max-width: 295.9px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 15px 10px !important;
  }
}

@media (min-width: 1209px) and (max-width: 1281px) {
  .lastet_progress_bar {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 1281px) {
  .lastet_progress_bar {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@media (min-width: 767.98px) {
  #prev-button-mobile {
    display: none;
  }

  .session-margin {
    margin-top: -10%;
  }

  .edit-note {
    margin-top: 7% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .dropdown-li {
    width: 263px;
  }

  .arrow-icon {
    left: 65%;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    margin: 0px !important;
    width: 1.6rem !important;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .my-connection-box {
    width: 28%;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .my-connection-box {
    width: 29%;
  }
}

/* @media (min-width: 1281px) {
  .react-datepicker__navigation--previous {
    left: unset !important;
    right: 40px;
  }
} */
/* @media (min-width: 1040px) and (max-width: 1280.9px) {
  .react-datepicker__navigation--previous {
    left: 65% !important;
  }
}
@media (min-width: 200px) and (max-width: 600px) {
  .react-datepicker__navigation--previous {
    left: 80% !important;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .react-datepicker__navigation--previous {
    left: 60% !important;
  }
} */
@media (min-width: 352px) {
  .beyond-your-course-video {
    display: flex;
  }

  .beyond-your-course-video-title {
    margin-left: 0.25rem !important;
  }
}

@media (min-width: 2200px) and (max-width: 2600px) {
  #content {
    width: calc(100% - 450px);
  }

  #sidebar {
    width: 450px;
  }

  .sidebar-header img {
    width: 250px;
    margin-top: 40px;
  }
}

@media (max-width: 267.9px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 15px 4px !important;
  }
}

@media (min-width: 992px) and (max-width: 1269px) {

  .dropdown-menushow1 {
    top: 38px !important;
    right: -3px !important;
  }

  .videos-track-icon {
    top: -20% !important;
  }

  /* .beyond-your-course-video-thumb-icon {
    top: 55%;
    left: 55%;
    margin: -30px 0 0 -30px;
    width: 45px;
    height: 45px;
  } */
}

@media (min-width: 450px) {
  .guidance-videos-top {
    display: flex;
  }

  .guidance-link {
    margin-left: auto;
  }

  .blocked-user-modal h3 {
    font-size: 12px !important;
  }
}

@media (min-width: 790px) and (max-width: 880px) {
  .react-datepicker__navigation--previous {
    left: 62% !important;
  }
}

@media (min-width: 768px) and (max-width: 9.9px) {
  .react-datepicker__navigation--previous {
    left: 58% !important;
  }
}

@media (min-width: 768px) and (max-width: 880px) {

  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    font-size: 7px !important;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 3.7px !important;
    line-height: 1.7rem !important;
    margin: 3.5px !important;
  }

  .react-datepicker__day-names {
    font-size: 7px !important;
  }

  .react-datepicker__navigation {
    top: 20px !important;
  }
}

/* @media (max-width: 970.9px) {
  .react-datepicker__current-month {
    font-size: 13px !important;
  }
} */
@media (min-width: 880px) and (max-width: 970.9px) {

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 7px !important;
    margin: 2.5px !important;
  }

  .react-datepicker__day-names {
    font-size: 9px !important;
  }

  .react-datepicker__navigation {
    top: 20px !important;
  }

  .react-datepicker__navigation--previous {
    left: 67% !important;
  }
}

/* @media (min-width: 971px) and (max-width: 1023px) {
  .react-datepicker__navigation-icon--next {
    left: 100px;
  }
  .react-datepicker__navigation-icon--next {
    left: 180px;
  }
  .react-datepicker__navigation {
    width: 100%;
  }
  .react-datepicker__current-month {
    margin-left: 235px;
  }
} */
/* .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 10px !important;
    margin: 3px !important;
  }
  .react-datepicker__current-month {
    font-size: 12px !important;
  }
  .react-datepicker__day-names {
    font-size: 9px !important;
  }
  .react-datepicker__navigation--previous {
    left: 81% !important;
  }
} */
/* @media (min-width: 1021px) and (max-width: 1026px) {
  .react-datepicker__current-month {
    margin-left: 10px;
    padding-left: 130px;
  }
  .react-datepicker__current-month {
    margin-top: 90px;
  }
  .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 120px;
  }
  .react-datepicker__navigation--next {
    margin-right: 120px;
  }
} */

/* @media (min-width: 500px) and (max-width: 580px) {
  .react-datepicker__current-month {
    padding-left: 110px;
  }
  .react-datepicker__current-month {
    margin-top: 90px;
  }
  .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 40px !important;
  }
  .react-datepicker__navigation--next {
    margin-right: 110px !important;
  }
} */
/* @media (min-width: 1020.1px) and (max-width: 1200px) {
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    margin-top: -25px;
    top: 0 !important;
  }
} */
@media (min-width: 1040px) and (max-width: 2560px) {

  /* .react-datepicker__current-month {
    padding-left: 40px;
  } */
  .react-datepicker__navigation--previous {
    /* margin-left: -25px !important; */
    margin-left: 0px;
  }

  .react-datepicker__navigation--next {
    /* margin-right: 40px !important; */
    right: -30px;
  }
}

@media (min-width: 1040.1px) and (max-width: 1200px) {

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 13px !important;
    margin: 3px !important;
  }
}

@media (max-width: 1024px) {
  .beyond-your-course-video-thumb-icon {
    /* top: 65%;
    left: 61%;
    width: 40px; */
    height: 40px;
  }

  .sidebar-scroll {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .guidance-videos {
    width: 33.33333%;
    display: inline-block;
  }
}

@media (min-width: 441px) and (max-width: 500.98px) {

  /* .react-datepicker__current-month {
    padding-left: 80px;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  } */
  /* .react-datepicker__navigation--previous {
    margin-left: 150px;
  } */
  /* .react-datepicker__navigation--next {
    margin-right: 77px !important;
  } */
}

@media (min-width: 375px) and (max-width: 440.98px) {

  /* .react-datepicker__current-month {
    padding-left: 40px;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 160px;
  } */
  /* .react-datepicker__navigation--next {
    margin-right: 50px;
  } */
}

@media (min-width: 319px) and (max-width: 340px) {
  .react-datepicker__navigation--previous {
    margin-left: 120px !important;
  }

  .react-datepicker__navigation--next {
    margin-right: 0px !important;
  }
}

@media (min-width: 350px) and (max-width: 374.98px) {

  /* .react-datepicker__current-month {
    padding-left: 8px;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 146px !important;
  }
  .react-datepicker__navigation--next {
    margin-right: 8px !important;
  } */
}

@media (max-width: 320.98px) {

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    left: 126px !important;
  }
  .react-datepicker__navigation--next {
    right: 0px !important;
  } */
}

@media (max-width: 450px) {
  .card-group {
    margin-top: 10px;
  }

  .connection-modal p {
    font-size: 10px !important;
  }

  .blocked-user-modal h3 {
    font-size: 12px !important;
  }
}

@media (max-width: 576px) {
  .card-group {
    display: flex;
    /* flex-flow: row wrap; */
  }
}

@media (max-width: 1024px) {
  #content {
    width: 100%;
  }

  #content.active {
    width: calc(100% - 250px);
  }

  #sidebar {
    margin-left: -250px;
    position: fixed !important;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  button#sidebarCollapse {
    display: block;
    color: #ffff;
  }


  #footer {
    bottom: 0;
    z-index: 10;
  }

  .mobile-footer {

    bottom: -350px !important;
    background-color: aquamarine !important;
  }

  #prev-button {
    display: none;
  }

  #prev-button-mobile {
    display: show;
    margin-top: 10px;
  }

  /* 
  li.nav-item.dropdown-li:after {
    display: none;
  } */

  .sidebar-bottom img {
    width: 90%;
  }

  .footer-menu {
    position: inherit;
    top: 0;
    right: 0;
  }

  .footer-menu ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer-copyright p {
    text-align: center;
  }

  .desktop-footer {
    display: none;
  }

  .mobile-footer {
    display: block;
  }

  .page-title {
    font-size: 18px;
  }

  /* .page-description {
    font-size: 13px;
  } */
  .customDatePickerWidth,
  .customDatePickerWidth>div.react-datepicker-wrapper,
  .customDatePickerWidth>div>div.react-datepicker__input-container .customDatePickerWidth>div>div.react-datepicker__input-container input,
  .react-datepicker,
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    /* min-width: 2.5rem !important; */
    line-height: 2.5rem !important;
    font-size: 12px !important;
  }

  .session-margin {
    margin-top: 10%;
  }

  .public-page-text-align {
    text-align: center;
  }

  .navbar-nav {
    margin-top: -12px;
  }
}

@media (min-width: 900px) {
  .modal-dialog {
    max-width: 840px;
  }

  #subscription-modal {
    max-width: 550px !important;
  }

  /*#briefing-modal {*/
  /*  max-width: 900px !important;*/
  /*}*/

  .videoPlayerModal .modal-dialog {
    min-width: 920px;
    min-height: 570px;
  }

  .share-video-modal .modal-dialog {
    min-width: 925px;
  }

  .videoPlayerModal img {
    height: 570px;
  }

  /* #subscription-modal {
    width: 536px;
  } */
}

@media (max-width: 900px) {

  /*  .edit-modal h4,
  h3,
  .my-account span,
  .edit-my-profile-tags h3,
  p {
    font-size: 18px !important;
  } */
  /* . span:nth-child(-n + 2) {
    font-size: 18px !important; */
  /* } */
  .sidebar-bottom img {
    margin-top: 0% !important;
  }

  .modal-content {
    margin-top: 40%;
  }
}

@media (min-width: 991.9px) {



  .university-logo {
    text-align: center !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .create-portfolio p {
    text-align: left;
  }

  .mobile-menu {
    display: none;
  }

  .beyond-videos-desktop {
    display: flex;
  }

  .beyond-videos-mobile {
    display: none;
  }

  .newest-projects-slider {
    justify-content: space-between !important;
  }

  .beyond-your-course-videos {
    /* width: 24%; */
    width: 33%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .startuplive-archive-videos .beyond-your-course-videos {
    width: 33%;
  }

  /* .all-videos-beyond-your-course-videos {
    width: 24%;
    width: 33%;
    display: inline-block;
    padding-left: 10px;
  } */
  .edit-button {
    width: 256px !important;
  }

  .align-right {
    text-align: right;
  }

  .notification-box {
    border-right: solid 20px white;
  }
}

@media (max-width: 991px) {
  .dropdown-menushow1 {
    /* width: 100% !important; */
    /* width: 15rem; */
    width: max-content;
    margin-right: 0px !important;
    margin-left: -15px !important;
    right: 10px !important;
  }
}

@media (min-width: 1px) and (max-width: 600px) {
  .jira-button {
    display: none;
  }
}

@media (max-width: 991.98px) {


  #content {
    width: calc(100% - 250px);
  }

  #sidebar {
    width: 250px;
    padding: 20px 20px;
  }

  #language.dropdown {
    width: 82px !important;
  }

  #language.dropdown .dropdown-menu {
    padding-right: 0px !important;
    width: 98px !important;
    min-width: 98px !important;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 15px 15px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-nav .dropdown-li .dropdown-menu {
    margin-top: 0px;
  }

  .dropdown-menu {
    padding-right: 10px !important;
    text-align: right;
  }

  .dropdown-menushow1 {
    width: 15rem;
    top: 3.7rem;
    right: -10px;
  }

  li.nav-item.dropdown-li>div {
    float: right;
    margin-top: 15px;
  }


  .desktop-menu {
    display: none !important;
  }



  .dropdown-menushow1 * {
    width: 95%;
  }



  .beyond-videos-desktop {
    display: none;
  }

  .beyond-videos-mobile {
    display: flex;
  }

  .portfolio-mobile-text-align {
    text-align: end;
  }

  .portfolio-save {
    width: 256px !important;
  }

  .portfolio-social-media-align {
    justify-content: center;
  }

  .portfolio-performance {
    width: 93%;
  }

  .performance-title {
    text-align: end;
    margin-right: 35px;
  }

  .public-performance-title {
    text-align: end;
  }

  .performance-video {
    margin-right: 20px;
  }

  .public-portfolio {
    width: 93%;
  }

  .align-items-center.published-portfolio {
    width: 100%;
  }

  .article-view {
    display: flex;
  }

  /* .videos-track-icon {
    top: -5% !important;
  } */
  /* .beyond-your-course-videos {
    width: 90%;
    padding-left: 10px;
  } */
  .text-align-left-footer,
  .text-align-center-footer,
  .text-align-right-footer {
    text-align: center;
  }

  .university-logo {
    text-align: left !important;
    margin-top: 20px;
    padding-left: 0px !important;
  }

  .modal-content {
    margin-top: 10% !important;
  }

  .document-modal {
    height: 350px !important;
  }

  .profile-ml {
    margin-left: 0px !important;
  }

  .portfolio-video-height {
    height: 315px !important;
  }

  .label1 {
    width: 100%;
  }

  .notification-box {
    border-right: none;
  }

  .dashboard-notification {
    margin-top: 15px;
  }
}

@media (max-width: 1097px) {
  .course-button a {
    height: auto;
  }

  /* .react-datepicker__navigation--previous {
    left: 110px !important;
  }
  .react-datepicker__navigation--next {
    right: 0px !important;
  } */
}

@media (max-width: 1199.98px) {
  #content {
    width: calc(100% - 250px);
  }

  #sidebar {
    width: 250px;
  }

  ul.sidebar-menu-item a {
    font-size: 14px;
  }

  .menu-dropdown {
    width: 245px;
  }
}

@media (max-width: 1200px) {
  #sidebar {
    padding: 0;
  }

  .customDatePickerWidth .react-datepicker {
    width: 100%;
  }

  .customDatePickerWidth {
    width: 100% !important;
  }

  .react-datepicker .react-datepicker__day {
    line-height: 3.5rem !important;
  }

  .react-datepicker .react-datepicker__navigation--previous {
    left: unset;
    right: calc(3% + 40px);
  }

  .react-datepicker .react-datepicker__navigation--previous,
  .react-datepicker .react-datepicker__navigation--next {
    top: 20px;
  }

  .account-page-padding {
    min-height: unset;
  }

  .react-datepicker .react-datepicker__current-month {
    margin-left: 6%;
  }
}

@media (max-width: 1125px) {
  .my-notes-title-wraper {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .view-note .ql-editor {
    height: 370px !important;
  }

  .edit-note .ql-editor {
    height: 312px !important;
  }
}

@media (max-width: 825px) {
  .footer-copyright p {
    text-align: left;
  }
}

@media (min-width: 1px) and (max-width: 767.9px) {
  .jira-button {
    display: none;
  }
}

@media (max-width: 289.9px) {
  .cancel-subscription-button {
    width: 200px;
  }

  .portfolio-colors-input {
    margin-right: 50px;
  }

  .portfolio-colors-rectangle {
    margin-right: 50px;
  }
}

@media (min-width: 290px) and (max-width: 314.9px) {
  .cancel-subscription-button {
    width: 250px;
  }

  .portfolio-colors-input {
    margin-right: 70px;
  }

  .portfolio-colors-rectangle {
    margin-right: 70px;
  }
}

@media (min-width: 315px) and (max-width: 329.9px) {
  .cancel-subscription-button {
    width: 260px;
  }

  .portfolio-colors-input {
    margin-right: 82px;
  }

  .portfolio-colors-rectangle {
    margin-right: 82px;
  }
}

@media (min-width: 330px) and (max-width: 344.9px) {
  .cancel-subscription-button {
    width: 265px;
  }

  .portfolio-colors-input {
    margin-right: 88px;
  }

  .portfolio-colors-rectangle {
    margin-right: 88px;
  }
}

@media (min-width: 345px) and (max-width: 369.9px) {
  .cancel-subscription-button {
    width: 270px;
  }

  .portfolio-colors-input {
    margin-right: 98px;
  }

  .portfolio-colors-rectangle {
    margin-right: 98px;
  }
}

@media (min-width: 370px) and (max-width: 394.9px) {
  .cancel-subscription-button {
    width: 280px;
  }

  .portfolio-colors-input {
    margin-right: 110px;
  }

  .portfolio-colors-rectangle {
    margin-right: 110px;
  }
}

@media (max-width: 300px) {

  /* .react-datepicker__current-month {
    padding-left: 5px;
  } */
  .calendar-under-threehoundertpx {
    width: 90% !important;
  }

  /* .react-datepicker__week {
    width: 80% !important;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 66px !important;
  }
  .react-datepicker__navigation--next {
    margin-right: 9px !important;
  } */
}

@media (min-width: 395px) and (max-width: 421.9px) {

  /* .react-datepicker__current-month {
    padding-left: 35px;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2rem !important;
    line-height: 2rem !important;
    font-size: 12px !important;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 35px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 166px !important;
  } */
  /* .react-datepicker__navigation--next {
    margin-right: 29px !important;
  } */

  .portfolio-colors-input {
    margin-right: 120px;
  }

  .portfolio-colors-rectangle {
    margin-right: 120px;
  }
}

@media (min-width: 400px) and (max-width: 430px) {
  .cancel-subscription-button {
    width: 300px;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 40px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 130px;
  } */
}

@media (min-width: 422px) and (max-width: 449.9px) {
  .portfolio-colors-input {
    margin-right: 135px;
  }

  .portfolio-colors-rectangle {
    margin-right: 135px;
  }
}

@media (min-width: 450px) and (max-width: 479.9px) {
  .portfolio-colors-input {
    margin-right: 150px;
  }

  .portfolio-colors-rectangle {
    margin-right: 150px;
  }
}

@media (min-width: 480px) and (max-width: 509.9px) {
  .portfolio-colors-input {
    margin-right: 165px;
  }

  .portfolio-colors-rectangle {
    margin-right: 165px;
  }

  /* .react-datepicker__navigation-icon {
    margin-top: 40px;
  } */
}

@media (min-width: 510px) and (max-width: 549.9px) {
  .portfolio-colors-input {
    margin-right: 180px;
  }

  .portfolio-colors-rectangle {
    margin-right: 180px;
  }
}

/* @media (min-width: 413px) and (max-width: 440px) {
  .react-datepicker__current-month {
    padding-left: 70px;
  }
  .react-datepicker__navigation-icon {
    margin-top: 40px;
  }
  .react-datepicker__navigation--previous {
    margin-left: 186px !important;
  }
  .react-datepicker__navigation--next {
    margin-right: 49px !important;
  }
} */
/* @media (min-width: 424px) and (max-width: 429.9px) {
  .react-datepicker__current-month {
    padding-left: 55px;
  }
  .react-datepicker__navigation-icon {
    margin-top: 40px !important;
  }
  .react-datepicker__navigation--previous {
    margin-left: 190px !important;
  }
  .react-datepicker__navigation--next {
    margin-right: 75px !important;
  }
} */
@media (min-width: 550px) and (max-width: 594.9px) {
  .portfolio-colors-input {
    margin-right: 200px;
  }

  .portfolio-colors-rectangle {
    margin-right: 200px;
  }
}

@media (min-width: 595px) and (max-width: 623.9px) {
  .portfolio-colors-input {
    margin-right: 212px;
  }

  .portfolio-colors-rectangle {
    margin-right: 212px;
  }
}

@media (min-width: 624px) and (max-width: 634.9px) {
  .portfolio-colors-input {
    margin-right: 225px;
  }

  .portfolio-colors-rectangle {
    margin-right: 225px;
  }
}

@media (min-width: 635px) and (max-width: 654.9px) {
  .portfolio-colors-input {
    margin-right: 232px;
  }

  .portfolio-colors-rectangle {
    margin-right: 232px;
  }

  .react-datepicker__navigation--previous {
    left: 500px !important;
  }
}

@media (min-width: 655px) and (max-width: 674.9px) {
  .portfolio-colors-input {
    margin-right: 240px;
  }

  .portfolio-colors-rectangle {
    margin-right: 240px;
  }

  .react-datepicker__navigation--previous {
    left: 540px !important;
  }
}

@media (min-width: 675px) and (max-width: 699.9px) {
  .portfolio-colors-input {
    margin-right: 252px;
  }

  .portfolio-colors-rectangle {
    margin-right: 252px;
  }

  .react-datepicker__navigation--previous {
    left: 560px !important;
  }
}

@media (min-width: 700px) and (max-width: 719.9px) {
  .portfolio-colors-input {
    margin-right: 265px;
  }

  .portfolio-colors-rectangle {
    margin-right: 265px;
  }

  .react-datepicker__navigation--previous {
    left: 585px !important;
  }
}

@media (min-width: 720px) and (max-width: 744.9px) {
  .portfolio-colors-input {
    margin-right: 272px;
  }

  .portfolio-colors-rectangle {
    margin-right: 271px;
  }

  .react-datepicker__navigation--previous {
    left: 600px !important;
  }
}

@media (min-width: 745px) and (max-width: 767.9px) {
  .portfolio-colors-input {
    margin-right: 285px;
  }

  .react-datepicker__navigation--previous {
    left: 620px !important;
  }

  .portfolio-colors-rectangle {
    margin-right: 285px;
  }

  .customDatePickerWidth,
  .customDatePickerWidth>div.react-datepicker-wrapper,
  .customDatePickerWidth>div>div.react-datepicker__input-container .customDatePickerWidth>div>div.react-datepicker__input-container input,
  .react-datepicker,
  .react-datepicker__month-container {
    width: 100% !important;
  }
}

@media (min-width: 767.9px) and (max-width: 793.9px) {
  .portfolio-colors-input {
    margin-right: 165px;
  }

  .portfolio-colors-rectangle {
    margin-right: 163px;
  }
}

@media (min-width: 794px) and (max-width: 814.9px) {
  .portfolio-colors-input {
    margin-right: 185px;
  }

  .portfolio-colors-rectangle {
    margin-right: 183px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -90px;
  }
}

@media (max-width: 550px) {
  .page-border {
    border: 0px;
  }
}

@media (min-width: 768px) and (max-width: 793.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -100px;
  }
}

@media (min-width: 535px) and (max-width: 767.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -60px;
  }
}

@media (min-width: 500px) and (max-width: 535px) {
  .portfolio-profile-image-mobile img {
    margin-top: -75px;
  }
}

@media (min-width: 475px) and (max-width: 499px) {
  .portfolio-profile-image-mobile img {
    margin-top: -85px;
  }
}

@media (min-width: 450px) and (max-width: 474.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -105px;
  }
}

@media (min-width: 425px) and (max-width: 449.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -120px;
  }
}

@media (min-width: 390px) and (max-width: 424.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -140px;
  }
}

@media (min-width: 350px) and (max-width: 389.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -170px;
  }
}

@media (min-width: 280px) and (max-width: 349.9px) {
  .portfolio-profile-image-mobile img {
    margin-top: -190px;
  }
}

@media (min-width: 815px) and (max-width: 828.9px) {
  .portfolio-colors-input {
    margin-right: 195px;
  }

  .portfolio-colors-rectangle {
    margin-right: 194px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -130px;
  }
}

@media (min-width: 829px) and (max-width: 864.9px) {
  .portfolio-colors-input {
    margin-right: 200px;
  }

  .portfolio-colors-rectangle {
    margin-right: 199px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -125px;
  }
}

@media (min-width: 865px) and (max-width: 899.9px) {
  .portfolio-colors-input {
    margin-right: 215px;
  }

  .portfolio-colors-rectangle {
    margin-right: 214px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -115px;
  }

  /* .react-datepicker__month-container {
    width: 100px !important;
  } */
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 7px !important;
    margin: 2.5px !important;
  }

  /* .react-datepicker__current-month {
    font-size: 13px !important;
  } */
  .react-datepicker__day-names {
    font-size: 9px !important;
  }

  .react-datepicker__navigation {
    top: 20px !important;
  }

  /* .react-datepicker__navigation--previous {
    left: 56px !important;
  } */
  /* .react-datepicker__navigation--next {
    right: 40px;
  } */
}

/* @media (min-width: 500px) and (max-width: 660px) {
  .react-datepicker__navigation-icon {
    margin-top: 30px;
  }
  .react-datepicker__navigation--previous {
    left: 296px !important;
  }
} */
@media (min-width: 900px) and (max-width: 921.9px) {
  .portfolio-colors-input {
    margin-right: 230px;
  }

  .portfolio-colors-rectangle {
    margin-right: 229px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -110px;
  }
}

@media (min-width: 922px) and (max-width: 949.9px) {
  .portfolio-colors-input {
    margin-right: 240px;
  }

  .portfolio-colors-rectangle {
    margin-right: 239px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -115px;
  }
}

@media (min-width: 950px) and (max-width: 971.9px) {
  .portfolio-colors-input {
    margin-right: 255px;
  }

  .portfolio-colors-rectangle {
    margin-right: 254px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -135px;
  }
}

@media (min-width: 972px) and (max-width: 982.9px) {
  .portfolio-colors-input {
    margin-right: 270px;
  }

  .portfolio-colors-rectangle {
    margin-right: 269px;
  }

  .portfolio-profile-image-mobile img {
    margin-top: -120px;
  }
}

@media (min-width: 983px) and (max-width: 991.9px) {

  .portfolio-colors-input {
    margin-right: 280px;
  }

  .portfolio-colors-rectangle {
    margin-right: 279px;
  }

  .navbar-nav .dropdown-li .dropdown-menu {
    margin-top: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1109px) {
  .card-body-video-small h5 {
    font-size: 11px !important;
  }
}


@media (min-width: 992px) and (max-width: 1258px) {
  .pp-left-padding {
    padding-left: 14%;
  }



  .profile-ml {
    margin-left: 90px !important;
  }
}

@media (min-width: 1380.98px) and (max-width: 2850) {
  .right-my-course-video iframe {
    height: 500px !important;
  }
}

@media (min-width: 992px) and (max-width: 1030px) {
  .portfolio-colors-input {
    margin-right: 35px;
  }

  .portfolio-colors-rectangle {
    margin-right: 35px;
  }
}

@media (min-width: 1030px) and (max-width: 1060px) {
  .portfolio-colors-input {
    margin-right: 42px;
  }

  .portfolio-colors-rectangle {
    margin-right: 40px;
  }
}

@media (min-width: 1060px) and (max-width: 1100px) {
  .portfolio-colors-input {
    margin-right: 46px;
  }

  .portfolio-colors-rectangle {
    margin-right: 45px;
  }
}

@media (min-width: 1101px) and (max-width: 1140px) {
  .portfolio-colors-input {
    margin-right: 51px;
  }

  .portfolio-colors-rectangle {
    margin-right: 50px;
  }
}

@media (min-width: 1141px) and (max-width: 1180px) {
  .portfolio-colors-input {
    margin-right: 55px;
  }

  .portfolio-colors-rectangle {
    margin-right: 54px;
  }
}

@media (min-width: 1181px) and (max-width: 1230.9px) {
  .portfolio-colors-input {
    margin-right: 59px;
  }

  .portfolio-colors-rectangle {
    margin-right: 58px;
  }
}

@media (min-width: 1231px) and (max-width: 1265.9px) {
  .portfolio-colors-input {
    margin-right: 66px;
  }

  .portfolio-colors-rectangle {
    margin-right: 65px;
  }
}

@media (min-width: 1266px) and (max-width: 1300.9px) {
  .portfolio-colors-input {
    margin-right: 71px;
  }

  .portfolio-colors-rectangle {
    margin-right: 70px;
  }
}

@media (min-width: 1301px) and (max-width: 1330.9px) {
  .portfolio-colors-input {
    margin-right: 75px;
  }

  .portfolio-colors-rectangle {
    margin-right: 74px;
  }
}

@media (min-width: 1314px) and (max-width: 1024.9px) {
  .tablet {
    display: show;
  }

  .desktop-slider {
    display: none;
  }

  .mobile-slider {
    display: none;
  }
}

@media (min-width: 1331px) and (max-width: 1360.9px) {
  .portfolio-colors-input {
    margin-right: 79px;
  }

  .portfolio-colors-rectangle {
    margin-right: 78px;
  }
}

@media (min-width: 1390px) and (max-width: 1425.9px) {
  .portfolio-colors-input {
    margin-right: 86px;
  }

  .portfolio-colors-rectangle {
    margin-right: 85px;
  }
}

@media (min-width: 1426px) and (max-width: 1495.9px) {
  .portfolio-colors-input {
    margin-right: 91px;
  }

  .portfolio-colors-rectangle {
    margin-right: 90px;
  }
}

@media (min-width: 1496px) and (max-width: 1520.9px) {
  .portfolio-colors-input {
    margin-right: 93px;
  }

  .portfolio-colors-rectangle {
    margin-right: 92px;
  }
}

@media (min-width: 1521px) and (max-width: 1545.9px) {
  .portfolio-colors-input {
    margin-right: 95px;
  }

  .portfolio-colors-rectangle {
    margin-right: 94px;
  }
}

@media (min-width: 1546px) and (max-width: 1565.9px) {
  .portfolio-colors-input {
    margin-right: 99px;
  }

  .portfolio-colors-rectangle {
    margin-right: 98px;
  }
}

@media (min-width: 1566px) and (max-width: 1599.9px) {
  .portfolio-colors-input {
    margin-right: 103px;
  }

  .portfolio-colors-rectangle {
    margin-right: 102px;
  }
}

@media (min-width: 1600px) and (max-width: 1640.9px) {
  .portfolio-colors-input {
    margin-right: 107px;
  }

  .portfolio-colors-rectangle {
    margin-right: 106px;
  }
}

@media (min-width: 1641px) and (max-width: 1699.9px) {
  .portfolio-colors-input {
    margin-right: 113px;
  }

  .portfolio-colors-rectangle {
    margin-right: 112px;
  }
}

@media (min-width: 1700px) and (max-width: 1750.9px) {
  .portfolio-colors-input {
    margin-right: 121px;
  }

  .portfolio-colors-rectangle {
    margin-right: 120px;
  }
}

@media (min-width: 1751px) and (max-width: 1799.9px) {
  .portfolio-colors-input {
    margin-right: 127px;
  }

  .portfolio-colors-rectangle {
    margin-right: 126px;
  }
}

@media (min-width: 1800px) {
  .portfolio-colors-input {
    margin-right: 135px;
  }

  .portfolio-colors-rectangle {
    margin-right: 134px;
  }

  .my-connection-box,
  .ProjectCard {
    width: 22% !important;
  }

  .beyond-your-course-video-thumb img,
  .arrow-icon-1 {
    height: 200px !important;
  }
}

@media (min-width: 1500px) {
  .customDatePickerWidth {
    max-width: 310px;
    margin: 0 auto;
  }
}

/* 
@media (max-width: 990px)and(min-width: 768px) {
  .brand-video-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .brand-items-container {
    width: 23vw !important;
  }
} */

@media (max-width: 768px) {
  #myProjectImage {
    max-width: 144px;
  }

  #warning-modal p,
  label {
    font-size: 14px !important;
  }

  .my-account img,
  .modal-body .editbio-user-image,
  .editbio-user-image {
    width: 100px !important;
    height: 100px !important;
  }

  .round-image-wrapper {
    padding: 0;
  }

  .round-image-wrapper img {
    position: relative !important;
  }

  .edit-modal img {
    height: 80px;
    width: 80px;
  }

  .page-description {
    font-size: 10px;
  }

  .dashboard-notification p {
    font-size: 12px !important;
  }

  .footer-copyright p {
    font-size: 12px !important;
  }

  .my-account h2 {
    font-size: 20px;
  }

  p.ms-1.ms-md-5.mb-3 span {
    font-size: 14px !important;
  }

  p.mx-auto.mt-4.px-5 {
    font-size: 14px !important;
  }

  .add-note-button {
    font-size: 10px !important;
  }

  .card-body-video p {
    font-size: 14px !important;
  }

  p.card-text {
    font-size: 14px !important;
  }

  .update-password h3 {
    font-size: 16px !important;
  }

  .contact-bio span {
    font-size: 14px;
  }

  .edit-modal input,
  .edit-label {
    height: 35px;
    /* margin-right: 20px; */
  }

  .contact-us input {
    height: 35px;
    font-size: 11px;
  }

  .contact-us input::placeholder {
    font-size: 11px;
  }

  .contact-us textarea {
    font-size: 11px;
  }

  .contact-us textarea::placeholder {
    font-size: 11px;
  }

  .contact-us button {
    font-size: 11px;
    height: 34px;
    width: 130px;
  }

  .edit-account {
    height: 35px;
    width: 135px;
  }

  .ql-container {
    font-size: 10px !important;
  }

  .user-image {
    margin-right: 15px;
  }

  .public-nav .nav-link {
    margin-right: 0;
  }

  /* .brand-items-container {
    grid-template-columns: 1fr 1fr 1fr !important;
    width: 28vw !important;

  } */

  .brand__item {
    margin-top: 10px !important;
  }
}

/* 
@media (max-width: 540px) {
  .brand-video-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .brand-items-container {
    width: 40vw !important;
  }
} */


@media (max-width: 340px) {
  .brand-video-container {
    grid-template-columns: 1fr !important;
  }

  .brand-items-container {
    width: 70vw !important;
    justify-self: center;
  }
}



@media (max-width: 767px) {
  .portfolio-user-info {
    margin-top: 20px;
    width: 100%;
    display: block;
    flex: none !important;
  }
}

@media (min-width: 1000px) and (max-width: 1243px) {

  .react-datepicker__navigation {
    margin-top: 0px !important;
  }

  .dropdown-menushow1 {
    top: 2.5rem;
    right: -10px;
  }


  .react-datepicker__navigation--next {
    margin-left: 40px;
  }

  .react-datepicker__month {
    width: 100%;
    display: inline-flexbox;
    justify-content: space-between !important;
  }
}

/* @media (min-width: 1000px) and (max-width: 1014px) {
  .react-datepicker__navigation {
    margin-top: -10px !important;
  }
  .react-datepicker__navigation--next {
    margin-left: 40px;
  }
  .react-datepicker__month {
    width: 100%;
    display: inline-flexbox;
    justify-content: space-between !important;
  }
  .react-datepicker__week {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
} */
@media (min-width: 760px) and (max-width: 790px) {

  /* .react-datepicker__navigation {
    margin-top: -10px !important;
  } */
  .react-datepicker__navigation--next {
    margin-left: 40px;
  }

  /* .react-datepicker__day-names {
    display: flex;
    width: 80%;
    justify-content: space-between !important;
  } */
  /* .react-datepicker__week {
    width: 80%;
    display: flex;
    justify-content: space-between !important;
  } */
}

@media (max-width: 550px) {
  .secure-page-padding {
    padding: 0% 0% 0%;
  }

  .register-header span,
  h4 {
    font-size: 14px !important;
    line-height: 1.4 !important;
  }

  .register-header img {
    margin-top: -290%;
  }

  .register-page-welocme-text-header span:nth-child(n) {
    font-size: 40px !important;
  }

  .register-page-welocme-text-header-image img {
    width: 100% !important;
  }

  .main-section-title-text-register {
    font-size: 30px;
  }

  .content-text-wrapper span,
  h4 {
    font-size: 14px;
  }

  .content-text-wrapper img {
    width: 100% !important;
  }

  .register-section li>span {
    font-size: 14px;
  }

  .lts-registration-logo-end img {
    width: 95%;
  }
}

@media (max-width: 1131px) {
  /* .card-group-beyond-your-course {
    height: 290px !important;
  } */
  /* .slider-arrow-first {
    margin-top: 10px;
  }
  .slider-arrow-second {
    margin-top: 10px;
  } */
}

/* @media (max-width: 425px) {
  .inputBoxProfile {
    width: 100% !important;
  }
}

@media (min-width: 426px) {
  .inputBoxProfile {
    width: 95% !important;
  }
} */

@media (max-width: 768px) {
  .saved-page-podcast h4 {
    font-size: 24px !important;
  }
}

@media (max-width: 375px) {
  .beyond-your-course-video-thumb img {
    height: 120px;
  }

  .arrow-icon-1 {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .beyond-your-course-video-thumb img {
    height: 150px;
  }

  .arrow-icon-1 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.beyond-your-course-video-thumb img {
  object-fit: cover;
  max-width: 100%;
}

@media (min-width: 425px) and (max-width: 768px) {
  .beyond-your-course-video-thumb img {
    height: 250px;
  }

  .arrow-icon-1 {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media (min-width: 768px) and (max-width: 991px) {
  .beyond-your-course-video-thumb img {
    height: 300px;
  }
  .arrow-icon-1 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */

@media (min-width: 1000px) {

  .beyond-your-course-video-thumb img,
  .arrow-icon-1 {
    height: 130px !important;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .beyond-your-course-video-thumb img,
  .arrow-icon-1 {
    height: 350px !important;
  }
}

@media (min-width: 768px) {
  .beyond-your-course-video-thumb img {
    height: 120px;
  }

  .mc-videos-mobile .arrow-icon-1 {
    height: 350px;
  }

  .mc-videos-mobile .beyond-your-course-video-thumb img {
    height: 350px;
  }

  .portfolio-connect .new-message {
    height: 188px;
    width: 100%;
  }
}

@media (min-width: 991px) {




  .beyound-all-videos-thumb img {
    height: 180px !important;
  }

  .beyound-all-videos-thumb.spotlight img {
    height: 115px !important;
  }
}

@media (max-width: 992px) {



  .beyound-all-videos-thumb img {
    height: auto !important;
  }

  .card-group-beyond-your-course {
    display: flex !important;
    flex-flow: unset;
  }

  .beyond-your-course-videos {
    margin: 0 15px;
  }

  .levels-of-journey__description {
    padding-left: 0 !important;
  }
}

@media (min-width: 1024px) {
  .msg-widget-startup-live {
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  .msg-widget-startup-live {
    padding-top: 110px;
  }

  .background-delete-modal h1 {
    font-size: 30px;
  }
}

@media (max-width: 1560px) {

  .react-datepicker__week,
  .react-datepicker__day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .react-datepicker .react-datepicker__day,
  .react-datepicker__day-names .react-datepicker__day-name {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .spotlight-container .pitch-apply p {
    font-size: 10px;
  }

  .spotlight-container .pitch-apply button {
    font-size: 9px;
    height: 30px;
  }
}

/* @media (max-width: 325px) {
  .sl-offline-image-preview {
    height: 200px;
  }
} */

/* @media (min-width: 325px) and (max-width: 425px) {
  .sl-offline-image-preview {
    height: 250px;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .sl-offline-image-preview {
    height: 420px;
  }
} */

/* @media (min-width: 769px) {
  .sl-offline-image-preview {
    height: 600px;
  }
} */

@media (min-width: 769px) and (max-width: 1200px) {
  .notifications-wrapper {
    top: 49px;
  }



  /* .sl-offline-image-preview {
    height: 600px;
  } */

  /* .customDatePickerWidth {
    margin: 50px 20px 100px 20px;
  } */
}

/* @media (min-width: 1200px) and (max-width: 1270px) {
  .sl-offline-image-preview {
    height: 450px;
  }
} */

/* @media (min-width: 1270px) {
  .sl-offline-image-preview {
    height: 600px;
  }
} */

@media (max-width: 425px) {
  .nav-notifications-li {
    position: inherit !important;
  }

  .notifications-wrapper {
    left: 50%;
    top: 73px;
  }

  /* .spl-offline-image-preview {
    height: 200px;
  } */

  .react-datepicker .react-datepicker__navigation--next {
    right: 0 !important;
  }

  .react-datepicker .react-datepicker__navigation--previous {
    right: 40px !important;
  }
}

/* @media (min-width: 425px) and (max-width: 650px) {
  .spl-offline-image-preview {
    height: 300px;
  }
} */

/* @media (min-width: 650px) and (max-width: 750px) {
  .spl-offline-image-preview {
    height: 370px;
  }
} */

/* @media (min-width: 750px) and (max-width: 990px) {
  .spl-offline-image-preview {
    height: 450px;
  }
} */

/* @media (min-width: 990px) {
  .spl-offline-image-preview {
    height: 325px;
  }
} */

@media (min-width: 1200px) {
  .dropdown-menushow1 {
    top: 63px;
    right: -10px;
  }

  .notes-nav .icon-menu {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}