@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ag-cell {
  /* height: 80px !important; */
  display: flex !important;
  align-items: center !important;
  overflow: hidden;
}

.dropdown .dropdown-menu {
  width: auto !important;
  min-width: 6rem;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 12px !important;
}

.dropdown .dropdown-toggle::after {
  font-size: 15px;
  right: 35px !important;
}

.my-school__container {
  background-color: #e4e9f4;
  padding: 2rem 2rem 2rem 2rem;
  font-family: 'Montserrat', sans-serif;
  font: normal normal 300 14px/16px Montserrat;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.48px;
  font-weight: 300 !important;
}

.my-school__panel {
  background-color: #d9dee8;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-school__panel a {
  color: #000;
}

.my-school__panel .col,
.my-school__panel .active {
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.my-school__panel .active {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.info-box {
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  position: relative;
  padding: 1rem;
}

.item-profile__details {
  display: flex;
  min-height: 50px;
  align-items: center;
  flex-wrap: unset;
  margin-bottom: 1.5rem;
}

.h-100.col-md-4 .chart-info-box {
  padding-top: 10px !important;
}

/* .lizalizaliza {
  background: transparent linear-gradient(135deg, #EE3C96 24%, #52C7DE 77%) 0% 0% no-repeat padding-box !important;
} */

.item-profile__details img {
  width: 16px;
  height: 19px;
  /* border-radius: 50%; */
  background-color: #c8cdd880;
  /* margin-right: 10px; */
}

.details-info-box {
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  opacity: 1;
  font-size: 12px;
}

.info-box label {
  font-size: 12px;
  color: #9297a1;
}

.custom-gradient_button {
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #db438a, #5db1cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 41px;
  max-height: 42px;
  z-index: 10;
}

.custom-gradient_button.gray-border {
  border-color: #ccc;
}

.custom-gradient_button a,
.custom-gradient_button p,
.custom-gradient_button span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0.6rem !important;
  color: #000;
}

.skillBox-green,
.skillBox-status__active,
.skillBox-transfer__transferred {
  border: 1px solid #a7ca42;
}

.skillBox-blue,
.skillBox-transfer__requested {
  border: 1px solid #01c5d1;
}

.skillBox-red,
.skillBox-transfer__denied {
  border: 1px solid #ea3b97;
}

.skillBox-program,
.skillBox-status__unactive,
.skillBox-transfer__none {
  border: 1px solid #d7d9d9;
}

/* Custom dropdown styles */

/* CustomDropdown.css */
.custom_dropdown {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.dropdown-header {
  width: 100%;
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 999;
  font-size: 12px;
  max-height: 400px;
  overflow: scroll;
}

.dropdown-list-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-list-item:hover {
  background: #f1f1f1;
}

.arrow {
  margin-left: 10px;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Search bar styles */

.custom-searchbar {
  height: 40px;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(#d7d9d9);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #d7d9d9;
  border-radius: 12px;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.custom-searchbar svg {
  color: #707070;
  height: 24px;
  margin: 5px;
}

.custom-searchbar input {
  text-align: left;
  font: normal normal 300 12px/10px Montserrat;
  letter-spacing: 0px;
  color: #333d3db3;
  opacity: 1;
  width: 100%;
}

/* CustomSelectCellEditor.css */

.custom-select {
  width: 100%;
  height: 25px;
  border: 1px solid #d7d9d9;
  border-radius: 10px;
  font-size: 12px;
  color: #333;
  position: relative;
}

.custom-select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.custom-select::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

.custom-select option {
  padding: 5px;
  background-color: #fff;
  color: #333;
}

/* ag grid actions  */
.agGrid__actions {
  /* color: var(#000000); */
  text-align: left;
  /* color: #000000; */
  /* opacity: 1; */
}

.agGrid__actions svg {
  color: #000000;
  font-size: 12px;
}

/* 
.agGrid__actions */
.action-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.agGrid__actions .action-item p {
  font-size: 13px;
}

.agGrid__actions .action-item:hover svg {
  color: #52c7de;
}

.agGrid__actions .action-item:hover {
  color: var(#52c7de);
  text-align: left;
  font: normal normal medium 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #52c7de;
  opacity: 1;
}

.test121 small {
  padding-bottom: -10px;
}

/* Count total report  */

.countTotalReport {
  width: 120px;
  height: 89px;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #15223214;
  border-radius: 6px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 0.09px;
  color: #5a607f;
  opacity: 1;
  font-size: 12px;
}

.countTotalReport svg {
  width: 17px;
  height: 17px;
}

.countTotalReport p {
  font-size: 12px;
}

.countTotalReport h3 {
  font-size: 23px;
  color: var(#52c7de);
  text-align: left;
  font: normal normal 600 23px/28px Montserrat;
  letter-spacing: 0.1px;
  color: #52c7de;
  opacity: 1;
}

/* Circular progress container */

.circularProgressContainer {
  width: 215px;
  height: 215px;
  /* background: #52c7de33 0% 0% no-repeat padding-box; */
}

/* Custom input style */

.custom__input-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: auto;
  cursor: pointer;
}

.custom__input__title {
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0.68px;
  color: #707070;
  padding: 5px;
  width: auto;
}

.custom__input-container small {
  color: red;
  font-size: 12px;
}

.custom__input {
  border: thin solid #dededeb3;
  height: 40px;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  opacity: 1;
  color: #333d3db3;
  padding: 0 8px;
  position: relative;
}

/* Button style */

.Lts-button {
  width: auto !important;
  height: 40px;
  color: #000;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(#707070);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 12px;
  padding: 5px 10px;
}

.edit-actions__details p:hover {
  color: #52c7de;
}

.transfer-body_container label {
  font-size: 12px;
}

.reset-password-modal .modal-dialog {
  max-width: 500px;
}

.delete-user-modal .modal-dialog {
  max-width: 500px;
}

.school-lts-container hr {
  margin: 0 !important;
}

.school-lts-container {
  padding-inline: 0 !important;
}

.school-lts-container div.pt-5 {
  margin-inline: 20px !important;
}

.overview-topinfobox-border {
  border-top-right-radius: 50px !important;
}

.overview-school-program-info .info-box {
  height: 268px !important;
  min-height: 268px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 12px;
  opacity: 1;
  padding-inline: 20px !important;
  padding-top: 0 !important;
}

/* .overview-school-program-info .info-box div.border {
  margin-inline: 20px !important;
} */

.linechart-overview {
  height: 25vh !important;
}

.schoolname-column-padd {
  padding-top: 0 !important;
  margin-top: -10px !important;
}

.schooldetails-font {
  font: normal normal 500 14px/16px Montserrat !important;
  letter-spacing: 0.56px;
  color: #000000;
  opacity: 1;
}

.item-profile__details {
  font: normal normal 300 14px/14px Montserrat !important;
  letter-spacing: 0.56px;
  color: #000000;
  opacity: 1;
}

.schoolname-font {
  font: normal normal 300 12px/16px Montserrat !important;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

.schoolnamedetail-font {
  font: normal normal 500 12px/16px Montserrat !important;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

.specialistname-font {
  font: normal normal 500 12px/16px Montserrat !important;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

.specialistemail-font {
  font: normal normal normal 12px/16px Montserrat !important;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

@media (max-width: 1138px) {
  .linechart-over-row {
    flex-wrap: nowrap !important;
  }
}

@media (max-width: 767px) {
  .overview-school-program-info {
    gap: 30px !important;
  }

  .pe-0.cursor-pointer.col-md-10:has(.linechart-overview) {
    width: 85% !important;
  }

  .recact-courses-row {
    gap: 30px !important;
  }
}

.ltsimmrs-title-mysc {
  text-align: left;
  font: normal normal normal 29px/35px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

@media (max-width: 767px) {
  .lts-immrs-container {
    height: 140px !important;
    flex-direction: row !important;
    align-items: flex-start !important;
  }
}

@media (max-width: 566px) {
  .ltsimmrs-buttons {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    gap: 10px !important;
  }

  .lts-immrs-container {
    height: 200px !important;
  }
}

.ltsimmrs-buttons {
  margin-bottom: 20px !important;
}

@media (max-width: 1241px) and (min-width: 768px) {
  .lts-immrs-container {
    height: 90px !important;
  }
}

@media (max-width: 480px) {
  .custom-gradient_button:has(.immrs-opp-1) {
    height: 75px !important;
    max-height: 75px !important;
  }
}

@media (max-width: 393px) {
  .custom-gradient_button:has(.immrs-opp-2) {
    height: 75px !important;
    max-height: 75px !important;
  }
}

.recentact-img {
  margin-bottom: 10px !important;
}

.col-md-6:has(.recentact-img) {
  width: 60% !important;
}

.recentact-img p {
  margin-left: 10px !important;
  width: max-content !important;
  font: normal normal 400 14px/16px Montserrat;
  letter-spacing: 0.56px;
  color: #000000;
  opacity: 1;
}

.recentact-img img {
  width: 18px !important;
  height: 18px !important;
}

.item-img-myschool {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #c8cdd880;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradientbtns-cont .custom__input-container {
  width: 50% !important;
}

.immrs-opps {
  font: normal normal normal 15px/19px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  overflow: unset !important;
}

.immrs-opps-cont span.arrow {
  margin-left: -10px !important;
}

.instructors-search-btns .col,
.custom-searchbar,
.col-md-4 {
  margin-bottom: 10px !important;
}

/* .instructors-search-btns .custom_dropdown {
  width: unset !important;
} */

.modal-content:has(.instructor-modal-details) {
  background: #ffffff !important;
}

.userdetails {
  text-align: left;
  font: normal normal 500 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
  margin-bottom: 0 !important;
}

.reset-password-modal .modal-content {
  background: #ffffff !important;
  padding-inline: 50px;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  width: 403px !important;
  height: 361px !important;
}

.deleteuser-title {
  font: normal normal 400 14px/16px Montserrat;
  letter-spacing: 0.56px;
  color: #000000;
  opacity: 1;
}

.delete-user-modal .modal-content {
  height: 291px !important;
}

.delete-btns {
  margin-top: 20px !important;
  width: 198px !important;
  height: 40px !important;
  background: #ee3c96 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 12px !important;
  opacity: 1;
  font: normal normal 400 17px/20px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-dialog:has(.reset-password-modal) {
  justify-content: center !important;
}

@media (max-width: 387px) {
  .reset-password-modal .modal-content {
    padding-inline: 30px;
  }

  .reset-pasw-checkbtn {
    right: -30px !important;
  }
}

@media (max-width: 1024px) {
  body {
    height: unset !important;
  }
}

body {
  height: unset !important;
}

.reset-pasw-checkbtn {
  position: absolute;
  top: -20px !important;
  right: -50px;
  border-top-right-radius: 50% !important;
}

.cancel-btns {
  width: 114px;
  height: 40px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  font: normal normal 400 17px/20px Montserrat;
  letter-spacing: 0px;
}

.ag-header-cell-text {
  text-align: left;
  font: normal normal 600 10px/16px Montserrat !important;
  letter-spacing: 0.4px;
  color: #707070;
  text-transform: uppercase !important;
  opacity: 1;
}

.ag-header-viewport,
.ag-header-container,
.ag-header-row.ag-header-row-column,
.ag-header.ag-pivot-off.ag-header-allow-overflow {
  height: 40px !important;
  min-height: 40px !important;
  align-items: center;
  background: #ededed 0% 0% no-repeat padding-box !important;
}

.ag-header-row.ag-header-row-column {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin-top: -4px !important;
  background: #ededed 0% 0% no-repeat padding-box !important;
}

@media (max-width: 480px) {
  /* .schoolpanel-nav-title {
    font-size: smaller !important;
  } */

  .my-school__panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px !important;
    flex-wrap: wrap !important;
  }
}


.ag-center-cols-viewport,
.ag-center-cols-container,
.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-column-last.ag-cell-value,
.ag-row-even.ag-row-no-focus.ag-row.ag-row-level-0.ag-row-position-absolute.ag-row-first.ag-row-not-inline-editing {
  overflow-x: scroll !important;

  scrollbar-width: thin !important;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.transfer-status-cont) {
  padding-left: 0px !important;
  margin-left: -8px !important;
}


.on-users-number {
  font: normal normal bold 12px/14px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
  padding-left: .5rem;
}

.on-users-text {
  font: normal normal normal 12px/14px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
}

.datatoview-dropdown.dropdown-list-item {
  padding: .6rem .8rem .6rem .8rem !important;
}


.act-users-title {
  text-align: left;
  font: normal normal 600 18px/22px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.progress-cert-title {
  font: normal normal 400 17px/16px Montserrat;
  letter-spacing: 0.68px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}

.progress-cert-circles h1 {
  margin-top: 10px !important;
}

.countTotalReport span.w-50.p-0,
p.m-0.pb-2 {
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 0.09px;
  color: #5A607F;
  opacity: 1;
}

.countTotalReport h3 {
  margin-top: -5px !important;
}

.custom-liza-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;

}

.custom-liza-checkbox input {
  display: none;
}

.custom-liza-checkbox .checkmark-liza {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-liza-checkbox input:checked+.checkmark-liza {
  background-color: #52c7de;
  border-color: #52c7de;
}

.custom-liza-checkbox .checkmark-liza::after {
  content: '';
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
  position: absolute;
  background: #52C7DE 0% 0% no-repeat padding-box;
  opacity: 1;
}

.custom-liza-checkbox input:checked+.checkmark-liza::after {
  display: block;
}


.datatoview-col {
  padding-bottom: 10px !important;
}

@media (max-width:767px) {
  .actusers-infobox {
    max-height: 360px !important;
  }
}

.nobackg-img {
  background-color: unset !important;
}