/* .iamr-inbox {
  min-height: 100vh;
} */

.inbox-menu {
  background-color: #f8f7f7;
  padding: 0;
  padding-bottom: 20px;
}

.iamr-inbox .inbox-menu h4 {
  font: normal normal bold 24px/16px Montserrat;
  letter-spacing: 0.96px;
  color: #231f20;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.iamr-inbox .inbox-menu .menu-option {
  display: flex;
  cursor: pointer;
  position: relative;
}

.iamr-inbox .inbox-menu .menu-option h5 {
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  margin-left: 22px;
  width: 70%;
  padding: 10px 0px;
  word-break: break-word;
}

.iamr-inbox .inbox-menu .menu-option .unread-tickets-number {
  width: 37px;
  height: 18px;
  background: #ea3b97 0% 0% no-repeat padding-box;
  border-radius: 16px;
  font-size: 11px;
  /* font: normal normal normal 11px/13px Product Sans; */
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  /* position: absolute; */
  margin-right: 27px;
  margin-left: 12px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.iamr-inbox .inbox-menu .menu-option.selected h5 {
  margin-left: 12px;
}

.iamr-inbox .inbox-menu .menu-option.selected {
  background-color: white;
  border-left: 10px solid #51c7df;
}

.iamr-inbox .inbox-tickets-container {
  min-height: 100vh;
}

.iamr-inbox .inbox-tickets-container .top-menu {
  position: relative;
  justify-content: space-between;
}

.inbox-tickets-container .top-menu .tickets-filter {
  /* width: 138px; */
  height: 47px;
  background: #f8f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
  position: relative;
}

.inbox-tickets-container .top-menu .tickets-filter p {
  font: normal normal 300 17px/54px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
}

.inbox-tickets-container .top-menu .tickets-filter-expanded {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 47px;
  z-index: 3;
}

.inbox-tickets-container .top-menu .tickets-filter-expanded p {
  text-align: left;
  font: normal normal 300 12px/14px Montserrat;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
}

.inbox-tickets-container .single-ticket {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 20px 7px 40px #00000014;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 133px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.inbox-tickets-container .single-ticket.unread {
  background: #d2e0e5;
}

.inbox-tickets-container .single-ticket img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.single-ticket .ticket-information {
  min-width: 0;
  gap: 7px;
}

.single-ticket .ticket-information .from {
  font: normal normal bold 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-ticket .ticket-information .subject,
.single-ticket .ticket-information .last-message {
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #333333b3;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.single-ticket .ticket-status {
  position: absolute;
  right: 14px;
  top: 16px;
}

.single-ticket .ticket-status p {
  font: normal normal bold 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #51c7df;
  opacity: 1;
}

.status.not_started {
  color: #bbbdbf;
}
.status.submitted,
.status.pending {
  color: #51c7df;
}
.status.saved {
  color: #231f20;
}
.status.received_feedback,
.status.rejected {
  color: #ff3399;
}
.status.proficient,
.status.approved {
  color: #99cc33;
}

.ticket-chat .header div {
  cursor: pointer;
  width: 70px;
}

.ticket-chat .header p {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.48px;
  color: #231f20;
  display: inline-block;
}

.ticket-chat .chat-container {
  border: 1px solid #333d3d29;
}

.ticket-chat .chat-container .chat-user {
  display: flex;
  align-items: center;
}

.chat-container .chat-user img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.chat-container .chat-user p {
  margin: 0;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #707070;
}

.chat-container .chat-header {
  border-bottom: 1px solid #333d3d29;
  padding: 20px 12px;
}

.chat-container .chat-header .status p {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #acb3ba;
}

.chat-container .chat-header .status .lts-button {
  height: 30px;
  width: 145px;
  font: normal normal medium 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #707070;
  text-transform: uppercase;
  background: #cfcfcf 0% 0% no-repeat padding-box;
}

.ticket-chat .chat-container .chat-header .subject {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #acb3ba;
}

.ticket-chat .chat-container .chat-message .chat-date {
  font-size: 12px;
  letter-spacing: 0px;
  color: #acb3ba;
}

.chat-container .chat-message.self .chat-user {
  order: 2;
  justify-content: end;
  flex-direction: row-reverse;
}

.chat-container .chat-message .status {
  display: flex;
  align-items: end;
  justify-content: end;
}

.chat-container .chat-message.self .status {
  order: 1;
  justify-content: start;
}

.chat-container .chat-message .message-text {
  background: #f8f7f7 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 10px;
  /* min-height: 90px; */
  padding: 10px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-container .chat-message.self .message-text {
  border-radius: 10px 0px 10px 10px;
  margin-left: 0;
  margin-right: 42px;
}

.chat-container .chat-message .message-text p {
  letter-spacing: 0px;
  color: #707070;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  word-break: break-word;
  white-space: pre-line;
}

.chat-container .chat-message .message-text p:nth-child(2) {
  letter-spacing: 0px;
  color: #51c7df;
  font-size: 10px;
  text-align: right;
  margin: 0;
}

.chat-container .messages-container {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 300px;
  max-height: 50vh;
  overflow-y: auto;
}

.chat-container .resolved {
  font-size: 14px;
  color: green;
  text-align: center;
  font-weight: bold;
}

.chat-container hr {
  color: #333d3d29;
  margin: 0;
  opacity: 1;
}

.chat-container .new-message {
  position: relative;
  padding: 20px 12px;
}

.chat-container .new-message textarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #333d3d29;
  border-radius: 6px;
  padding: 10px;
  padding-right: 48px;
  min-height: 52px;
  font-size: 10px;
  letter-spacing: 0px;
  color: #bbbdbf;
  width: 100%;
  resize: none;
}

.chat-container .new-message .submit-icon {
  height: 28px;
  width: 28px;
  background: #ff3399 0% 0% no-repeat padding-box;
  border-radius: 23px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 22px;
  top: 32px;
  cursor: pointer;
}

.menu_accordion-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}

/* medias */

@media (min-width: 992px) {
  .iamr-inbox .inbox-menu {
    padding: 0;
  }

  .iamr-inbox .inbox-menu h4 {
    margin-top: 38px;
    margin-bottom: 50px;
  }

  .iamr-inbox {
    min-height: 100vh;
  }

  .iamr-inbox .inbox-tickets-container .top-menu {
    margin-top: 38px !important;
    justify-content: unset;
  }
}

@media (max-width: 992px) {
  .single-ticket .ticket-information {
    gap: 0px;
  }

  .inbox-tickets-container .single-ticket img {
    width: 50px;
    height: 50px;
  }

  .single-ticket .ticket-information .from {
    font-size: 16px;
    line-height: initial;
  }

  .single-ticket .ticket-information .subject,
  .single-ticket .ticket-information .last-message {
    font-size: 12px;
  }

  .inbox-tickets-container .single-ticket {
    height: 100px;
  }

  .single-ticket .ticket-status {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .chat-container .chat-message .message-text {
    min-height: initial;
  }

  .chat-container .chat-header .status .lts-button {
    height: 20px;
    width: 100px;
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .chat-container .messages-container {
    max-height: initial;
    min-height: initial;
    height: 300px;
  }
}

/* @media (min-width: 576px) {
  .messages-container .chat-message {
    width: calc(60% + 64px) !important;
  }
} */
