.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #01c5d1;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

input,
textarea {
  background: #e5e5e54d;
  border: 0;
}

.image-upload-widget {
  background-color: #e4e4e4;
  width: 100;
  padding: 5px;
  border: 0;
}
.title-description {
  text-align: left;
  font: normal normal 600 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #333d3d83;
  opacity: 1;
}
.page-title-inner {
  text-align: left;
  margin-bottom: 0;
  font: normal normal bold 24px/16px Montserrat !important;
  letter-spacing: 0.96px;
  color: #231f20;
  opacity: 1;
}

.user-image-and-name .user-image {
  width: 35px !important;
  height: 35px !important;
}

.user-name {
  text-align: left;
  font: normal normal 600 17px/19px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
