.public-login-form {
  height: 60vh;
  /* min-height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: -1px 0px 15px 17px rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: -1px 0px 15px 17px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: -1px 0px 15px 17px rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.right-login-form {
  width: 30vw;
  height: 50vh;
}

.public-login-form button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
  background-color: transparent;
  width: 25%;
  height: 45px;
  border-bottom: 2px solid #db438a !important;
  border: none;
  text-transform: uppercase;
  box-shadow: none;
}

.public-login-form input::placeholder {
  font-size: 12px;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}

.public-login-form h2 {
  text-align: center;
  text-transform: uppercase;
}

.public-login-form h6 {
  color: #707070;
  text-align: center;
}

/*Login input style  */

.input-with-gradient-border {
  width: 100%;
  border: double 3px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #db438a, #5db1cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  align-items: center;
}

.input-with-gradient-border svg {
  margin-right: 3%;
}

.input-with-gradient-border input {
  position: relative;
  border: none !important;
  background-color: transparent !important;
  border-radius: 15px;
}

.pw-revelared__icon {
  position: absolute;
  top: 10;
  right: 63%;
}

.login-form-resp {
  width: 50vw;
  margin-left: -12px !important;
}


/* @media (max-width: 778px) {
  .public-login-form {
    height: calc(35vh - 42px);
    min-height: 35vh;
    justify-content: center;
  }

  .right-login-form {
    width: 95vw;
    padding-bottom: 30px;
    padding-top: 0 !important;
  }
} */


@media (max-width: 639px) {

  /* Your CSS rules for small screens */
  .login-form-resp {
    width: 90vw;
    height: 60vh !important;
    margin-left: -20px !important;
  }

  .right-login-form {
    height: 100% !important;
    padding-bottom: 0 !important;
  }

  .right-login-content {
    margin-bottom: 20px !important;
  }

  .right-login-text {
    margin: 0;
    padding: 0;
    font-size: 17px;
  }


}

@media (max-width: 520px) {
  .login-form-resp {
    width: 85vw;
  }
}



@media (max-width: 768px) {
  .public-login-form {
    min-height: 35vh;
  }

  .right-login-form {
    height: 100% !important;
    width: 95vw !important;
    justify-self: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }



  .login-form-resp {
    margin-left: 20px !important;
  }
}

@media (min-width: 640px) and (max-width: 1007px) {
  /* Your CSS rules for medium screens */

  .login-form-resp {
    width: 90vw;
  }
}

@media (min-width: 1008px) {

  /* Your CSS rules for large screens */
  .login-form-resp {
    width: 50vw;
  }
}

@media (min-width: 639px) and (max-width: 767px) {
  .right-login-content {
    margin-left: 0 !important;
  }



  .login-form-resp {
    width: 90vw;
  }
}

@media (max-width: 570px) {
  .public-login-form {
    height: 35vh;
    min-height: 35vh;
    justify-content: center;
  }


  .right-login-form {
    padding-top: 20px;
  }

  .public-login-form button {
    font-size: 14px;
  }

  .public-login-form input::placeholder {
    font-size: 12px;
    letter-spacing: 0px;
    color: #333d3d;
    opacity: 1;
  }

  .public-login-form h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .public-login-form h6 {
    color: #707070;
    text-align: center;
  }
}