/* Basic reset for table styles */
table {
  border-collapse: separate !important;
  width: 100%;
  margin-top: 1rem;
}

th,
td {
  text-align: left;
  font-size: 14px;
  padding: 17px;
}

th {
  background-color: #f6f9fc;
  color: #8898aa;
}

tr {
  color: #576483;
  font-weight: 400;
}

tr td:first-child {
  color: #576483;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f6f9fc;
}

button {
  border: none;
  cursor: pointer;
}

.immersion-page-title {
  font-weight: 500 !important;
  font-size: 26px !important;

}

.main-immersion-desc {
  font-weight: 500;
  color: #949494;
  font-size: 13px;
  width: 90%;
}

.immersion-steps-title {
  font-weight: 600;
  font-size: 24px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 4px 0;

  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #45a049;
}

select {
  padding: 10px;
  margin-bottom: 15px;
}

/* th,
td {
  width: 20%;
} */

td:last-child>button {
  width: 100%;
}

th:last-child {
  border: 0;
}

/* Steps style */
.steps-container {
  background: #f4f4f4;
  padding: 2%;
}

/* Immersion table style */
.immersion-table {
  width: 100%;
  margin: 0rem;
  border-radius: 30px;
}

.immersion-table tbody tr {
  border-bottom: 1px solid lightgray;
}

/* Custom pagination style */

.steps-container .pagination {
  padding: 1rem 0.8rem;
}

.steps-container .pagination li {
  margin: 2px 5px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: grey; */
}

.steps-container .pagination li.active {
  border: 1px solid lightgray;
  background-color: #99cc33;
}

.steps-container .pagination li a {
  color: rgb(184, 184, 184);
}

.steps-container .pagination li.active a {
  color: #fff !important;
}

.page-item-custom {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.page-link-custom {
  padding: 10px;
  border-radius: 50%;
}

/* Immersion Image styles */
.testi-steps {
  width: 100%;
  height: 40rem;
}

.steps_button-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/Immersion/Immersion\ graphs.png');
  background-position: center;
  background-repeat: no-repeat;
}

.step-button-1 {
  width: 90px;
  height: 90px;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  align-items: center;
  z-index: 1000;
}

.hover-effect:hover {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute;
  top: 19%;
  left: 32%;
  background: rgb(219, 54, 148) !important;
  background: linear-gradient(90deg,
      rgba(219, 54, 148, 1) 0%,
      rgba(128, 197, 220, 1) 75%) border-box !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #fff !important;
  z-index: 1000;
  transition: all 0.5s;
  /* Smooth transition for all properties over 1 second */
}

.immersion-upload-file-input {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 50px;
  font-size: 13px;
  color: #ccc;
  background-color: #fff;
}

.file-input-placeholder {
  flex-grow: 1;
}

.file-input-icon {
  font-size: 28px;
  margin-left: 10px;
  color: #6c6c6c;
}

.file-input {
  opacity: 0 !important;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.submit-button {
  background: #51c7df;
  height: 50px;
  color: #fff;
  width: 40%;
  font-size: 14px;
}

.submit-button:disabled {
  background: #a8a8a8;
  color: #fff;
  cursor: not-allowed;
}

.error-border {
  border: 1px solid red;
}

/* parent guardian style */
.parentGuardian-button {
  background: #cddcb1;
  height: 50px;
  color: #707070;
  width: 85%;
  font-size: 14px;
}

/* tnC style */

.terms-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.terms-checkbox label {
  margin-left: 5px;
}

.terms-checkbox label a {
  color: #00bfff;
  text-decoration: none;
}

.submit-button {
  background: #51c7df;
  height: 50px;
  color: #fff;
  width: 40%;
  font-size: 14px;
  padding: 0 15px;
}

.approve-button {
  background: #51c7df;
  height: 50px;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  margin: 0 0 0 15px;
  border: none;
  cursor: pointer;
}

.deny-button {
  background: #dc3545;
  height: 50px;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  margin: 0 15px;
  border: none;
  cursor: pointer;
}

.deny-button:hover,
.approve-button:hover {
  opacity: 0.8;
}

.submit-button:disabled,
.deny-button:disabled,
.approve-button:disabled {
  background: #a8a8a8;
  color: #fff;
  cursor: not-allowed;
}

/* .immersion-button-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
right: 45px;
top: 200px;
z-index: 2;
gap: -10px;
}

*/

@media (max-width:1200px) {
  .st1-immr-btn {
    left: 18.5% !important;
    font-size: 13px;
  }

  .st2-immr-btn {
    left: 36.3% !important;
    font-size: 13px;
  }

  .st3-immr-btn {
    font-size: 13px;
  }

  .st4-immr-btn {
    left: 71% !important;
    font-size: 13px;
  }
}


@media (max-width:916px) {
  .st1-immr-btn {
    left: 15.7% !important;
    font-size: 13px;
    width: 7.5% !important;
    height: 12% !important;
    top: 31.2% !important;
  }

  .st2-immr-btn {
    left: 35.4% !important;
    font-size: 13px;
    width: 7.5% !important;
    height: 12% !important;
    top: 31.2% !important;
  }

  .st3-immr-btn {
    font-size: 13px;
    width: 7.5% !important;
    height: 12% !important;
    top: 31.2% !important;
    left: 54.1% !important;
  }

  .st4-immr-btn {
    left: 73.2% !important;
    font-size: 13px;
    width: 7.5% !important;
    height: 12% !important;
    top: 31.2% !important;
  }

  .main-immrs-image {
    width: 100% !important;
  }
}


@media (max-width:790px) {
  .st1-immr-btn {
    left: 16.1% !important;
    font-size: 12px;
    width: 7.6% !important;
    height: 12.1% !important;
    top: 31.3% !important;
  }

  .st2-immr-btn {
    left: 35.4% !important;
    font-size: 12px;
    width: 7.6% !important;
    height: 12.1% !important;
    top: 31.3% !important;
  }

  .st3-immr-btn {
    font-size: 12px;
    width: 7.6% !important;
    height: 12.1% !important;
    top: 31.3% !important;
    left: 54% !important;
  }

  .st4-immr-btn {
    left: 72.8% !important;
    font-size: 12px;
    width: 7.6% !important;
    height: 12.1% !important;
    top: 31.3% !important;
  }

  .main-immrs-image {
    width: 100% !important;
  }
}

@media (max-width:745px) {


  .st1-immr-btn {
    left: 11% !important;
    font-size: 12px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .st2-immr-btn {
    left: 32.6% !important;
    font-size: 12px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .st3-immr-btn {
    font-size: 12px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
    left: 54% !important;
  }

  .st4-immr-btn {
    left: 76% !important;
    font-size: 12px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .main-immrs-image {
    width: 120% !important;
  }
}



@media (max-width:620px) {


  .st1-immr-btn {
    left: 11% !important;
    font-size: 11px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .st2-immr-btn {
    left: 32.6% !important;
    font-size: 11px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .st3-immr-btn {
    font-size: 11px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
    left: 54% !important;
  }

  .st4-immr-btn {
    left: 76% !important;
    font-size: 11px;
    width: 9.5% !important;
    height: 12.1% !important;
    top: 31.5% !important;
  }

  .main-immrs-image {
    width: 120% !important;
  }
}


@media (max-width:540px) {


  .st1-immr-btn {
    left: 9% !important;
    font-size: 10px;
    width: 9.6% !important;
    height: 12.1% !important;
    top: 31.7% !important;
  }

  .st2-immr-btn {
    left: 32.5% !important;
    font-size: 10px;
    width: 9.6% !important;
    height: 12.1% !important;
    top: 31.7% !important;
  }

  .st3-immr-btn {
    font-size: 10px;
    width: 9.6% !important;
    height: 12.1% !important;
    top: 31.7% !important;
    left: 54.2% !important;
  }

  .st4-immr-btn {
    left: 76.6% !important;
    font-size: 10px;
    width: 9.6% !important;
    height: 12.1% !important;
    top: 31.7% !important;
  }

  .main-immrs-image {
    width: 130% !important;
  }
}



@media (max-width:468px) {


  .st1-immr-btn {
    left: 6% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.8% !important;
    top: 31.7% !important;
  }

  .st2-immr-btn {
    left: 31% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.5% !important;
    top: 31.7% !important;
  }

  .st3-immr-btn {
    font-size: 10px;
    width: 12% !important;
    height: 12.8% !important;
    top: 31.7% !important;
    left: 54.2% !important;
  }

  .st4-immr-btn {
    left: 77.2% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.8% !important;
    top: 31.7% !important;
  }

  .main-immrs-image {
    width: 145% !important;
  }
}



@media (max-width:400px) {


  .st1-immr-btn {
    left: 6.3% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.5% !important;
    top: 32.7% !important;
    border: 3px solid transparent !important
  }

  .st2-immr-btn {
    left: 31% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.5% !important;
    top: 32.7% !important;
    border: 3px solid transparent !important
  }

  .st3-immr-btn {
    font-size: 10px;
    width: 12% !important;
    height: 12.5% !important;
    top: 32.7% !important;
    left: 54.2% !important;
    border: 3px solid transparent !important
  }

  .st4-immr-btn {
    left: 77.2% !important;
    font-size: 10px;
    width: 12% !important;
    height: 12.5% !important;
    top: 32.7% !important;
    border: 3px solid transparent !important
  }

  .main-immrs-image {
    width: 155% !important;
  }
}