.occupation-job-details {
  color: #636061;
  font-size: 13px;
}
.quick-facts_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  font-size: 14px;
}
.quick-facts_header {
  padding: 15px 10px;
  color: #fff !important;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.quick-facts_content {
  height: 60px;
}
.quick-facts_content .article,
.quick-facts_content .value {
  padding: 15px 10px;
  height: 100%;
  background: #fff;
}

.quick-facts_content .article {
  height: 100%;
  width: calc(70% - 10px);
  display: flex;
  align-items: center;
}
.quick-facts_content .value {
  width: 30%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.details-row .title {
  font-weight: 600;
}
