.submit-industry-problem-modal .modal-dialog {
  max-width: 1000px !important;
}

.submit-industry-problem-modal .modal-content {
  border-radius: 30px !important;
}

.submit-industry-problem-modal .modal-body {
  padding: 40px !important;
}

.submit-industry-problem-modal .modal-header {
  display: flex;
  justify-content: space-between;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 2%;
  height: 100%;
}

.step1-submit-modal-textarea textarea {
  color: #9297A1;
  /* background-color: #fff; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: none !important;
  border-radius: 10px;
}

.immrs-solution-title-modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.username-submit {
  align-self: center;
  margin-bottom: 10px !important;
  margin-left: 6px;
}

.action-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029 !important;
  /*padding: 10px 15px;*/
  padding: 15px 15px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex !important;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 0px 0px 0px 28px;
  overflow: hidden;
  justify-content: end;
  padding: 0;
}

.immersion-step1-modal-body {
  height: 500px;
}


@media (max-width:992px) {
  .left-title-immrs .profile-dropdown-info {
    display: block !important;
  }
}

@media (max-width:646px) {
  .immersion-body-container {
    grid-template-columns: 1fr !important;
  }

  .immersion-step1-modal-body {
    height: 100% !important;
  }
}

@media (max-width:850px) {

  .left-title-immrs {
    margin-left: 0 !important;
  }

}

@media (max-width:507px) {
  .immrs-solution-title-modal {
    flex-direction: column;
  }
}


.mail-icon-cont {
  border-radius: 50px;
  background: #C8CDD880 0% 0% no-repeat padding-box;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
}

.step1-mail-icon {
  width: 20.16px;
  height: 18.24px;
}