.admin-dashboard-container {
  padding: 24px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.admin-info-container {
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.admin-info-container .container-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.admin-info-container p{
    margin: 0;
    font-size: 15px;
}

.admin-info-container .core-info-icon {
    width: 36px;
    height: 36px;
    background-color: #E2E6EC;
    border-radius: 100%;
    padding: 8px;
}

.admin-info-container .info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 20px;
    min-width: 220px;
}

.admin-info-container .info-box img{
    width: 56px;
    height: 56px;
    background-color: #E2E6EC;
    border-radius: 100%;
    padding: 13px;
}

.admin-info-container .info-box h3{
    margin: 0;
    font-size: 21px;
}


.admin-info-container .info-box div{
    background-color: #F0F2F6;
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}