.breadcrumb {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  /* font: medium 12px/16px Montserrat; */
  letter-spacing: 0.48px;
}
.breadcrumb-item.active {
  color: #56ec25;
}
.breadcrumb-arrow {
  font-size: 10px;
  margin: 0 8px;
}
.breadcrumb-separator {
  display: flex;
  align-items: center;
  color: #ccc;
}
