.portfolio-container {
  background: linear-gradient(rgb(228, 233, 244), rgb(255, 255, 255));
  height: 100%;
  width: 100%;
}

.porfolio-header{
  padding: 20px;
}

.porfolio-header h3{
  font-weight: bold
}

.portfolio-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(200, 205, 216, 0.4);
  justify-content: space-between;
}

.portfolio-navbar-item.active {
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px rgb(189, 189, 189);
  font-size: 14px;
}
.portfolio-navbar-item {
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.user-name {
  font-weight: 800;
  font-size: 30px;
  color: black;
}

.user-basic-info p {
  color: black;
}

.my-relationships-container {
  display: flex;
  justify-content: space-between;
}

.my-relationships-card {
  /* background: #fafafa; */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 32%;
}

.label-style {
  position: absolute;
  cursor: text;
  left: 0.625rem;
  top: 5px;
  z-index: 10;
  transform-origin: 0;
  transform: translateY(0);
  font-size: 10px;
  color: #9297a1;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.value-header {
  font-size: 0.85rem;
  font-weight: 600;
}

.title-text-center{
  width:100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  margin-top: 40px;
}

.value-subheader {
  font-size: 1rem;
  font-weight: 600;
}

.button-accordion {
  text-decoration: none;
  width: 100%;
}

.accordion-header {
  text-decoration: none;
  color: gray;
  font-size: 0.85rem;
}

.accordion-body-header {
  border-radius: 10px;
}

.accordion-body h4 {
  font-size: 1rem;
}

.progress-details-accordion {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.accordion-paragraph {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  padding: 1rem;
}

.portfolio-productivity-card{
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.portfolio-productivity-card img{
  object-fit:contain;
  border-radius: 30px 30px 0 0;
  margin-bottom: 15px;
  width: 100%;
}


.portfolio-productivity-card .title{
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.start-competitiveness-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0px 30px 0px;
}

.start-competitiveness-container .portfolio-productivity-card img{
  object-fit:contain;
  border-radius: 30px 30px 0 0;
  margin-bottom: 15px;
  width: 100%;
  aspect-ratio: 16/9;
}

.start-competitivness-paragraph{
  padding: 15px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  border-radius: 14px;
}

.start-competitivness-paragraph h6{
  font-size: 1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

@media screen and (max-width: 1028px) {
.whoami-personal-details{
  display: flex;
  flex-direction: column;
}
  
}