.portfolio-container {
  background: linear-gradient(rgb(228, 233, 244), rgb(255, 255, 255));
  height: 100%;
  width: 100%;
}

.portfolio-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(200, 205, 216, 0.4);
  justify-content: space-between;
}

.portfolio-navbar-item.active {
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.portfolio-navbar-item {
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.user-name {
  font-weight: 800;
  font-size: 30px;
  color: black;
}

.user-basic-info p {
  color: black;
}

.my-relationships-container {
  display: flex;
  justify-content: space-between;
}

.my-relationships-card {
  /* background: #fafafa; */
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 32%;
}

.label-style {
  position: absolute;
  cursor: text;
  left: 0.625rem;
  top: 5px;
  z-index: 10;
  transform-origin: 0;
  transform: translateY(0);
  font-size: 10px;
  color: #9297a1;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.value-header {
  font-size: 0.85rem;
  font-weight: 600;
}

.value-subheader {
  font-size: 0.95rem;
  font-weight: 500;
}

.button-accordion {
  text-decoration: none;
  width: 100%;
}

.accordion-header {
  text-decoration: none;
  color: gray;
  font-size: 0.85rem;
}

.accordion-body-header {
  border-radius: 10px;
}

.accordion-body h4 {
  font-size: 0.9rem;
}

.progress-details-accordion {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.accordion-paragraph {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  padding: 1rem;
}
