.download {
  color: #000;
  font-size: 12px;
  letter-spacing: 0.48px;
}

.download svg {
  font-size: 16px;
}

.download:hover {
  color: #52c7de;
}


/* .ag-cell-value:has(.students__cell) {
  left: 493px
} */


.students__cell,
.students__cell svg,
.reports_cell,
.reports_cell svg {
  color: #000000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font: normal normal 300 20px/20px Montserrat;
}

.students__cell:hover,
.reports_cell:hover,
.students__cell svg:hover,
.reports_cell svg:hover {
  color: #52c7de !important;
  cursor: pointer;
}

.modal-content:has(.instructor-detail-modal) {
  background-color: #ffffff !important;
}

.status-toggle-font {
  font: normal normal 500 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #9297A1;
  opacity: 1;
}

.instructor-modal-details .check-button {
  border-top-right-radius: 50% !important;
}

.dropdowns-select-font {
  text-align: left;
  font: normal normal normal 12px/14px Montserrat;
  letter-spacing: 0.48px;
  color: #000000;
  opacity: 1;
}

/* 
text-align: left;
font: normal normal normal 12px/14px Montserrat;
letter-spacing: 0.48px;
color: #000000;
opacity: 1; */

.students__cell {
  font: normal normal 300 14px/16px Montserrat;
  letter-spacing: 0.56px;
  color: #000000;
  opacity: 1;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
  left: 52% !important;
}

@media (max-width: 1238px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 53% !important;
  }
}


@media (max-width: 1133px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 55% !important;
  }
}

@media (max-width:1031px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 58% !important;
  }
}

@media (max-width:1024px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 53% !important;
  }
}

@media (max-width: 887px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 57% !important;
  }
}

@media (max-width:765px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 61% !important;
  }
}

@media (max-width:719px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 65% !important;
  }
}

@media (max-width:672px) {
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.reports_cell) {
    left: 425px !important;
  }
}


.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
  left: 41% !important;
}


@media (max-width:1110px) {

  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
    left: 42.5% !important;
  }
}

@media (max-width:793px) {

  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
    left: 44% !important;
  }
}

@media (max-width:740px) {

  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
    left: 46% !important;
  }
}


@media (max-width:705px) {

  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
    left: 48.5% !important;
  }
}

@media (max-width:672px) {

  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value:has(.students__cell) {
    left: 317px !important;
  }
}


.ag-ltr .ag-header-cell-resize {
  right: unset !important;
  display: none !important;
}

.ag-sort-indicator-icon.ag-sort-descending-icon.ag-hidden {
  display: block !important;
}

.ag-icon.ag-icon-menu {
  display: block !important;
}

.ag-header-icon.ag-header-cell-menu-button {
  background-color: #52c7de !important;
  display: block !important;
}