.user-contact-form {
  box-shadow: 0px 5px 10px #00000040;
}

.user-contact-form select[name='email_to'],
.user-contact-form textarea[name='message'] {
  border: 1px solid #bbbdbf;
}

#userContactForm select,
#userContactForm textarea {
  border: 1px solid #bbbdbf;
  font-size: 14px;
  color: #707070;
  font-size: 12px;
  border-radius: 0;
}

#userContactForm .lts-button {
  height: 34px;
}
