.welcome-course-header {
  background: url('../../assets/images/academy-icons/girl.png');
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-text {
  color: #51c7df;
}

.image-wyl {
  width: 58px;
  height: 58px;
  object-fit: contain;
}

.video-player-thumb {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 15px 0px inset,
    rgba(0, 0, 0, 0.04) 0px -18px 18px 0px inset,
    rgba(0, 0, 0, 0.03) 0px -35px 25px 0px inset,
    rgba(0, 0, 0, 0.02) 0px 1px 1px, rgba(0, 0, 0, 0.03) 0px 2px 1px,
    rgba(0, 0, 0, 0.03) 0px 4px 2px, rgba(0, 0, 0, 0.03) 0px 8px 4px,
    rgba(0, 0, 0, 0.03) 0px 16px 8px;
}

.ready-to-start {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.profile-pic-ent {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.testimonial-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.author {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.author img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.swiper-button-prev,
.swiper-button-next {
  all: unset;
  cursor: pointer;
}

.testimonial {
  min-height: 220px;
}

.alex-photo {
  border-radius: 12px;
}
