.skills-button:hover {
  color: #707070;
}
.skills-button {
  text-align: center;
  font: normal normal 600 12px Montserrat;
  letter-spacing: 0.48px;
  color: #707070;
  opacity: 1;
}
.skills-button.active {
  border: 1px solid #bbbdbf !important;
  opacity: 1 !important;
}
.icon-active {
  color: #707070;
}
.edit-modal-box-title span {
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  text-transform: uppercase;
  opacity: 1;
}
.edit-modal-box-input-title span {
  text-align: left;
  font: normal normal 600 24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.input::placeholder {
  text-align: left;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.input {
  text-align: left;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.edit-modal-box-suggested span {
  text-align: left;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.icon {
  color: #707070;
}
.edit-top-title h4 span {
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  text-transform: uppercase;
  opacity: 1;
}
.Add_Licenses_or_Certifications span {
  text-align: left;
  font: normal normal 600 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
