.occupation-list {
  display: grid;
  padding: 1%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.occupation-box {
  height: 10rem;
  background-color: #fff;
  border-radius: 10px;
  color: #707070;
}
.occupation-box_header p {
  font-size: 18px;
  font-weight: 700;
  color: #707070;
}

.occupation-box svg,
.occupation-box_footer svg {
  font-size: 40px;
}
.occupation-box:hover {
  background: rgb(219, 54, 148);
  background: linear-gradient(
    180deg,
    rgba(219, 54, 148, 1) 0%,
    rgba(128, 197, 220, 1) 68%
  );
  color: #fff;
}
.occupation-box:hover .occupation-box_header p,
.occupation-box:hover .occupation-box_header svg,
.occupation-box:hover .occupation-box_footer svg,
.occupation-box:hover div p svg {
  color: #fff !important;
}
