@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.component__container {
  background-color: #e4e9f4;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font: normal normal 300 14px/16px Montserrat;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.48px;
  font-weight: 300 !important;
}
.signature__container {
  padding: 1.56rem;
  background: #f6f7f7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
}

.signup-academy__container {
  margin: 0% 5%;
  height: auto;
  width: 90%;
  background-color: #fff;
  padding: 3%;
  font-size: 12px;
}
.my-guestSpeakers-modal > modal-content {
  width: 80vw;
}
.archive-modal > modal-content {
  width: 20vw;
}
.my-guestSpeakers-modal {
  font-size: 12px;
}
.my-guestSpeakers-modal p {
  font-weight: 500;
}
@media (min-width: 900px) {
  .myCustomModal .modal-dialog {
    max-width: 1100px;
  }
  .archive-modal .modal-dialog {
    max-width: 500px;
  }
}
