@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.component__container {
  background-color: #e4e9f4;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font: normal normal 300 14px/16px Montserrat;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.48px;
  font-weight: 300 !important;
}
