.iamr-submissions {
  margin-top: 40px !important;
  color: #333d3d;
}

.iamr-section p {
  color: #333d3d;
}

.add-submission {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(187, 189, 191);
  width: calc(100% - 30px);
  /*height: 200px;*/
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;
  background: white;
}

.add-submission img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 10px;
}

.add-submission .submission-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iamr-submission .iamr-submission-title {
  font-weight: 500;
  font-size: 16px;
}

.img-placeholder {
  width: 100%;
  object-fit: cover;
  height: 200px;
  margin: 0 auto;
}

.img-placeholder img:not(.reactEasyCrop_Image) {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.submission-examples {
  padding: 30px;
  border: 1px solid #333d3d29;
  background: #f8f7f7;
}

.submission-example .submission-example-title {
  margin: 20px auto 0 auto;
}

.submission-example .submission-example-inner {
  width: 330px;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
}

.submission-example .submission-example-inner img {
  object-fit: cover;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.iamr-content {
  padding: 20px;
  background: #f8f7f7;
}

.iamr-title {
  font: normal normal 800 23px Montserrat !important;
  letter-spacing: 0px !important;
  color: #231f20 !important;
  text-transform: uppercase !important;
  opacity: 1;
}

.submission-form input[type='file'] {
  border-radius: 5px;
}

.submission-actions {
  position: absolute;
  right: -50px;
  width: 50px;
}
.submission-actions a {
  margin-bottom: 10px;
  display: block;
  margin-left: 5px;
}

.delete-submission-modal {
  position: relative;
}

.delete-submission-modal .btn-close {
  position: absolute;
  top: -25px;
  right: 25px;
  background: none;
}

.delete-submission-modal h2 {
  text-align: center;
  font: normal normal 600 21px/21px Montserrat;
  letter-spacing: 0.84px;
  color: #f2359d;
}

.dont-del-submission {
  display: inline-block;
  margin-top: 20px;
  color: #bbbdbf;
  cursor: pointer;
}
.dont-del-submission:hover {
  color: black;
}

.cover-upload-wrapper {
  width: 100%;
  border: 1px solid #bbbdbf;
  text-align: left;
  padding: 3.5px;
  border-radius: 5px;
  cursor: pointer;
}

.cover-upload-wrapper .image-upload p {
  margin: auto auto auto 25px !important;
}

.linkIcons {
  top: 15px;
}

.iamr-submission .Positionsubmission-title,
.iamr-submission .iamr-submission-title {
  font-weight: 600;
}

@media (max-width: 767.9px) {
  /* .submission-form {
    margin-top: 50px;
  } */

  .submission-form input {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .modal-dialog {
    max-width: 90%;
    margin: auto;
  }
}
