.skills-box {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.skill-box {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 #cfcfcf;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.skill-box {
  position: relative;
}

.skill-box h5 {
  font-weight: bold;
  font-size: 16px;
  min-height: 40px;
}
.skill-box .skill-actions {
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline !important;
}
.read-button {
  border: none;
  font-size: 14px;
  background-color: #fff;
  color: #51c7df;
  cursor: pointer;
}
.skill-box .briefing_edit-button,
.add-briefing-container {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 40%;
  box-shadow: 0 0 10px 0 #cfcfcf;
  background-color: white;
  cursor: pointer;
}
.briefing_edit-button svg {
  width: 40px !important;
  height: 40px;
  padding: 12px;
}
.add-briefing-container svg {
  width: 40px;
  /* height: 40px; */
  /* padding: 1px; */
}

/* Edit Briefing */

#edit_briefing-modal {
}

.edit_content-item-container {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid #ccc;

  border-radius: 10px;
  background-color: #f6f7f7;
}

.edit_content-item-title {
  font: normal normal normal 14px/20px Montserrat;
  letter-spacing: 0.68px;
  color: #707070;
  padding: 5px;
}
.edit_content-item-container small {
  color: red;
  font-size: 12px;
}

.edit_content-item-description {
  font: normal normal 600 14px/20px Montserrat;
  letter-spacing: 0.68px;
  color: #707070;
  border: none;
  background-color: #fff;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.edit_content-item-description input {
  border: none;
  padding: 5px;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.close-briefing-editor {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 10%;
  box-shadow: 0 0 10px 0 #cfcfcf;
  background-color: white;
  cursor: pointer;
}
