.custom-dropdown {
    position: relative;
}

.selected-option {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px
}

.options-container {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.options {
    max-height: 200px;
    overflow-y: auto;
    /*padding: 4px;*/
    position:absolute;
    width: 100%
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
}

.option input {
    margin-right: 8px;
}
