.messenger-body {
  background: #f8f7f7 0% 0% no-repeat padding-box;
  width: 100%;
  padding: 10px;
  max-height: 450px;
  min-height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.messenger-searchBox .input-group {
  background: #333d3d1a !important;
}

.messenger-searchBox .form-control {
  background: transparent !important;
}
.newMessageIcon {
  bottom: 0;
  right: 10px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.messengerWidget > p {
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #333d3d;
  opacity: 1;
  font-weight: 500;
}

.messenger-body > ::-webkit-scrollbar-track {
  background-color: #edeaea;
  margin: 8px 0px;
}

.messenger-body > ::-webkit-scrollbar {
  width: 3px;
}

.messenger-body > ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}
