.mentor-card {
  background: linear-gradient(rgb(228, 233, 244), rgb(255, 255, 255));
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  position: relative;
  min-width: 95% !important;

  }
  
  .mentor-card-div {
    color:black;
  }

  .mentor-image-container {

    height: 175px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .mentor-image-container img{

    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
