.video-player {
  position: relative;
  width: 100%;
  height: 100%;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

.video-player video {
  width: 100%;
}

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.controls-container button,
.controls-container input[type='range'],
.controls-container span {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.controls-container button:hover,
.controls-container input[type='range']:hover {
  opacity: 0.8;
}

.controls-container button:active,
.controls-container input[type='range']:active {
  opacity: 0.6;
}

.controls-container button.active {
  color: #00ccff;
}

.controls-container input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.controls-container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00ccff;
  cursor: pointer;
}

.controls-container input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00ccff;
  cursor: pointer;
}

.controls-container span {
  font-weight: bold;
}

.controls-container .active-icon {
  color: #00ccff;
}

.controls-container .inactive-icon {
  color: #fff;
  opacity: 0.5;
}

.replay-btn {
  padding: 4px 8px;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
}

.replay-btn::after {
  content: "10";
  position: absolute;
  font-size: 8px;
  bottom: 5px;
  right: -10px;
  color: #fff;
  opacity: 0.9;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.4);
  padding: 1px 2px;
  border-radius: 2px;
}

.replay-btn:hover {
  opacity: 0.8;
}

/* .replay-btn:hover .replay-icon {
  transform: rotate(-30deg);
} */

.replay-icon {
  transition: transform 0.2s ease;
}

.gap-2 {
  gap: 0.5rem;
}
