/*.accordion {*/
/*    border: 1px solid #ccc;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.accordion-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*    !*background-color: #f5f5f5;*!*/
/*    background: #3C3C3C 0% 0% no-repeat padding-box;*/

/*}*/

/*.accordion-header-title {*/
/*    font: normal normal 600 16px/22px Montserrat;*/
/*    letter-spacing: 0;*/
/*    color: #FCFCFC;*/
/*    text-transform: uppercase;*/
/*}*/

/*!*.accordion-header:hover {*!*/
/*!*    background-color: #eaeaea;*!*/
/*!*}*!*/

/*.accordion-icon {*/
/*    margin-left: auto;*/
/*    font-size: 1.2rem;*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.accordion-icon.expanded {*/
/*    transform: rotate(180deg);*/
/*}*/
/*.accordion-icon .arrow {*/
/*    !*background: #3C3C3C 0% 0% no-repeat padding-box;*!*/
/*    color: #fff !important;*/
/*    font: normal normal 500 18px/22px Montserrat;*/
/*}*/

/*.accordion-content {*/
/*    padding: 10px;*/
/*    background-color: #ffffff;*/
/*}*/

/*.accordion-content-image {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    object-fit: contain*/
/*}*/

/*.accordion-content-text{*/
/*    font: normal normal normal 13px/17px Montserrat;*/
/*    letter-spacing: 0.52px;*/
/*    color: #333D3D;*/
/*}*/
