.resourceCard .details {
  border: 1px solid rgb(187, 189, 191);
  height: 45%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.resourceCard {
  width: 100%;
  border: 0;
}

.resourceCard .details .links {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #51c7df;
  cursor: pointer;
}

.resource-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 15px;
  justify-content: space-evenly;
}
