
.checkbox-label {
    display: flex;
    align-items: self-start;
    margin-bottom: 8px;
    font-size: 14px !important;
}

.checkbox-label input {
    margin-right: 4px;
    /*width: 14px !important;*/
    justify-content: center;
    display: flex;
    margin-top: 3px;
}

