.multiple-select_dropdown {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;

}

.multiple-select_label {
    text-align: left;
    font: normal normal normal 14px/19px Montserrat;
    letter-spacing: 0px;
}
/*.multiselect-title, .multiselect-option {*/
/*    text-align: left;*/
/*    font: normal normal normal 14px/19px Montserrat;*/
/*    letter-spacing: 0px;*/
/*}*/

.multiple-select_option-checkbox input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20px !important;
    height: 20px !important;
    position: relative;
    cursor: pointer;
}

.multiple-select_option_checkbox::before input {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.multiple-select_option-checkbox:checked::before input {
    background-color: #52C7DE;
    border-color: #52C7DE;
    width: 20px;
    height: 20px;
}

.multiselect-option_checkbox:hover input {
    border-color: #52C7DE;
}


.multiple-select_dropdown-input {
    display: flex;
    flex-wrap: wrap; /* Added property */
    align-items: center;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    padding: 8px;
    cursor: pointer;
    min-height: 40px; /* Adjust height as needed */
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    overflow: hidden;
}

.chip {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 16px;
    padding: 4px 8px;
    margin: 4px; /* Increased margin */
}


.multiple-select_dropdown-input.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multiple-select_dropdown-input .placeholder {
    color: #bbbdbf;
    font-size: 13px;
    font-weight: 600;
}



.delete-all-options {
    color: #999;
    margin-right: 4px;
    cursor: pointer;
}

.dropdown-arrow {
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 8px; !* Adjust the value according to your needs *!*/
    transform: translateY(-50%);
    font-size: 12px;
}

.dropdown-arrow.up {
    transform: translateY(-50%) rotate(180deg);
}
.chip-remove {
    border: none;
    background-color: transparent;
    color: #999;
    cursor: pointer;
    padding: 0;
    margin-left: 4px;
}

.multiple-select_dropdown-options {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 8px;
}
