.custom-input-box {
    border: 1px solid #ccc;
    background:#e5e5e54d;
    cursor:pointer ;

}
.custom-input {
    /*border: 1px solid #ccc;*/
    border: none ;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    /*background:#e5e5e54d;*/
    /*background-color: #e5e5e54d !important;*/
    color: black;
    outline: none;
}

.custom-input:hover {
    border-color: #888;
}

.custom-input:focus {
    border-color: #555;
    box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.25);
}
