.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #01c5d1;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

input,
textarea {
  background: #e5e5e54d;
  border: 0;
}

.image-upload-widget {
  background-color: #e4e4e4;
  width: 100px;
  padding: 5px;
  border: 0;
}

/*///////////////////*/
.upload-image-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000004D;
  border: 1px solid #E1E1E1;
  /*border-radius: 6px;*/
  /*height: 100%;*/
  padding: 4px;
  width: 180px;
  height:180px;
  border-radius:50%;
  cursor: pointer;
  overflow: hidden;
}

.border-dashed {
  border: 2px dashed #E4E9F4;
  height: 100%;
  border-radius:50%;
}

.upload-image_box-title {
  font: italic normal 600 16px/18px Montserrat;
  letter-spacing: 0.56px;
  padding-right: 10px;
  padding-left: 10px;
  text-align:center;
}

.upload-image_click-here {
  font: normal normal normal 16px/18px Montserrat;
  padding-right: 10px;
  padding-left: 10px;
  text-align:center;
  letter-spacing: 0.56px;
  color: #766C6EFD;
}
.organization-logo-box {
  display: flex;
  justify-content: center;
}
.organization-logo {
  width: 100px;
  height: 100px;
}

.upload-to-cloud_logo {
  /*background: #766C6EFD 0% 0% no-repeat padding-box;*/
  width: 50px;
  height: 50px;
  color: #766C6EFD
}
