.modal-save-btn {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    background-color: #51c7df;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 0.85rem 3.75rem;
    transition: all 0.2s ease-in;
    border-radius: 8px;

}

.close-btn {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    background-color: rgb(210, 210, 210);
    border: none;
    color: black;
    font-weight: 600;
    padding: 0.85rem 2.5rem;
}