.Certification {
  border: 1px solid #bbbdbf;
  border-radius: 6px;
  opacity: 1;
  cursor: pointer;
  position: relative;
}
.edit-modal-box-title span {
  text-align: left;
  font: normal normal 600 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  text-transform: uppercase;
  opacity: 1;
}
.Add_Licenses_or_Certifications span {
  text-align: left;
  font: normal normal 600 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.data input[type='date'] {
  position: relative;
  padding: 10px;
}
.data input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
.data input[type='date']:before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'FontAwesome';
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 22px;
  height: 25px;
  right: 10px;
  top: 15px;
  position: absolute;
  color: #707070;
}
.image-box {
  height: 146px;
  width: 182px;
  max-width: 100%;
}
.loading-in-button span {
  color: #a7ca42 !important;
}
.add-modal input {
  text-align: left;
  font: normal normal 500 12px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  border: 1px solid #bbbdbf;
}
.add-modal input::placeholder {
  font-size: 12px;
}
.image-text-file span {
  text-align: left;
  font: normal normal 300 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.remove_license_title span {
  text-align: left;
  font: normal normal 600 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #333d3d;
  opacity: 1;
}
.individual_certificate {
  border: 1px solid #bbbdbf;
}
.individual_certificate_active {
  border: 1px solid #000203 !important;
}
.individual_certificate_text {
  text-align: center;
  font: normal normal medium 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #707070;
  opacity: 1;
}
.image_of_remove {
  border-radius: 50%;
  width: 139px;
  height: 139px;
  object-fit: cover;
  position: relative;
  border: none;
}
.Certification p {
  text-align: center;
  font: normal normal 600 12px/16px Montserrat;
  letter-spacing: 0.48px;
  color: #707070;
  opacity: 1;
}
.Certification img {
  height: 150px;
  width: 150px;
  max-width: 100%;
  border-radius: 0;
}

.Certification .license-image {
  height: 150px;
}

@media (max-width: 768px) {
  .Certification .license-image {
    height: 100px;
  }
}

.view-credential-btn {
  height: 35px;
  max-width: 100%;
  width: 100%;
  margin: 15px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .Certification img {
    max-height: 78px;
    min-height: 78px;
    width: 78px;
  }

  .Certification .license-image {
    height: 78px;
  }
  .Certification {
    height: 216px;
    border: 1px solid #bbbdbf;
    border-radius: 6px;
    opacity: 1;
  }
}
input[type='date']::-webkit-calendar-picker-indicator {
  height: 15px;
  width: 15px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}
.image-container img {
  border-radius: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 1rem;
}
.test {
  display: flex;
  justify-content: center;
}
.test img {
  width: 182px;
}
